<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="UTF-8" /> 
    <title>formidable</title> 
  </head> 
  <body>
    <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsK
CwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQU
FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCAEOARYDAREA
AhEBAxEB/8QAGwABAAMBAQEBAAAAAAAAAAAAAAIDBQQGAQf/xAAaAQEAAwEBAQAAAAAAAAAAAAAA
AQIDBAUG/9oADAMBAAIQAxAAAAHwHk+QAOze1l5Au2vdvcCK1DYAQpoAEQAIzMQCJTAAUTafl+QA
Oze1l5Au2vdvcCK1DYAQpoAEQAIzMQCJTAAUTafl+QAOze1l5Au2vdvcCK1DYAQpoAEQAIzMQCJT
AAUTafl+QAOze1l5Au2vdvcCK1DYAQpoAEQAIzMQCJTAAUTbr8ryAB2dO1l7AWaaT0uBWtxxqANC
AAtmPoBKX1AESkAFcs7yvLAHZ072XsBK+k9NAKotwxqANdAAumJTAEyUwBEpABGYw/K8wAdnTvZe
wEr6T00Aqi3DGoA10AC6YlMATJTAESkAEZjD8rzAB2dO9l7ASvpPTQCqLcMagDXQALpiUwBMlMAR
KQARmMry/LAGh1a23sB9vr900A44v5uu4A9hAAWWz+zAFhOJAiUgAhaud5vlgDU6r33kD5fWOmoG
ZF/DU6QB+lUsAPumKagWxNkSBEoABCa5fneWANTqvfeQPl9Y6agZkX8NTpAH6VSwA+6YpqBbE2RI
ESgAEJrl+d5YA1Oq995A+X1jpqBmRfw1OkAfpVLAD7pimoFsTZEgRKAAQmub53lADW69L7yB800a
agZ1dPG5dYA9vWQBn6YVWqBoVt31kD5KCABXNePg8gAbPXr06WAlraW1wOXPbD4/RAHwAH57vhk2
oB7GlvYZ2AnMX3zAFMTx8HjADZ69enSwEtbS2uBy57YfH6IA+AA/Pd8Mm1APY0t7DOwE5i++YApi
ePg8YAbPXr06WAlraW1wOXPbD4/RAHwAH57vhk2oB7GlvYZ2AnMX3zAFMTx8HjADZ69enSwEtbS2
uBy57YfH6IA+AA/Pd8Mm1APY0t7DOwE5i++YApiXF4wA2e3Xp0sBl30y7aAccX85n0gDXw6AB5/b
HktUDWrOtWQM+XkJqANs/QfP8QAbPbr06WAy76ZdtAOOL+cz6QBr4dAA8/tjyWqBrVnWrIGfLyE1
AG2foPn+IANnt16dLAZd9Mu2gHHF/OZ9IA18OgAef2x5LVA1qzrVkDPl5CagDbP0Hz/EAGz269Ol
gMu+mXbQDji/nM+kAa+HQAPP7Y8lqga1Z1qyBny8hNQBtn6PweMANbt0v0sBy2vzW0AjTSjm7QBp
V0AGBtly2qBnwzoAcycSJAHdlt+n4fOgDU7dL9JAptem2gH2mk+TuAGguAMHbLltUDChgwApTl1s
AOnDo/Uc/mgBqdul+kgU2vTbQD7TSfJ3ADQXAGDtly2qBhQwYAUpy62AHTh0fqOfzQA1O3S/SQKb
XptoB9ppPk7gBoLgDB2y5bVAwoYMAKU5dbADpw6P1KnzQA0+3S7SQI2vG1wPldKufrAE8OoAcV86
5gDBRgzAHMYqABRTX9mz+fAGj2Xt0kCdrztYCqt+LPoAHNw+iALFfoBg2rgWqByK+ftmAMm1/wB4
5/DAGj2Xt0kCdrztYCqt+LPoAHNw+iALFfoBg2rgWqByK+ftmAMm1/3jn8MAaPZe3SQJ2vO1gKq3
4s+gAc3D6IAsV+gGDauBaoHIr5+2YAybX/d+fwwBodl7dJAna87WAri/DnuAODi9EAdEVkgDDtXC
tUDnmuNOQAzbW/ZefyAB3dlrNJAstey1gKotwU0AHnub0ABp0i6IAyb1yb0A+KQcwArs9tycgA7u
y1mkgWWvZawFUW4KaADz3N6AA06RdEAZN65N6AfFIOYAV2e25OQAd3ZazSQLLXstYCqLcFNAB57m
9AAadIuiAMm9cm9APikHMAK7PbcnIAO7stZpIFlr2WsBVFuCmgA89zegANOkXRAGTeuTegHxSDmA
Fdn/xAApEAAAAwYGAwEBAQEAAAAAAAAAAQIDBBASIDARExQxMjMFFTQGIiEj/9oACAEBAAEFAqEc
Ys6FbXDoVtZRxizoVtcOhW1lHGLOhW1w6FbWUcYs6FbXDoVtTKQlISkJSCElLKQlISkEkMBgMA04
4jEYjEZaRlpGWkZaQTFGGSgZKBkoBMEGNMzGmZjTMwp2Z4aZmNMzGmZjTMxpWdKOMSoacLCdolQr
ayjjEqGnCwnaJUK2so4xKhpwsJ2iVCtqcoZQyhlBkwxRpxpxpxkYDJGSMkPZZLvrRrRrRrRIJBIJ
ASRgMBgEpEolEoUn/JRKJRKJaWPXE6PJfFcRQrayx64nR5L4riKFbWWPXE6PJfFcRQramUxKYlMS
mGKDypDEhiQxlqGUoZShlKHkGC1umhbjQtxoW40LcTkJyE5Ccg18m7MF+5cx7lzHuXMOr8weROQn
ITkDUR2nfqiVDz02PK/fH89Qney79USoeemx5X74/nqE72XfqiVDz02PK/fH89Qney79USoeemx5
X74/nqE72Xfqi+0Pfz2Hrvi4UP8A8tl36ovtD389h674uFD/APLZd+qL7Q9/PYeu+LhQ/wDy2Xfq
i+0Pfz2Hrvi4UP8A8tMpCUhKQlIMeqLZBLGQgZCBkICnVm0L1jsPWOw9Y7D1jsPXO49c7j1zuPXO
4efGu+f613HrXcetdw9sUugzljOWM5YeGilMZSEpCUhKQmOlj1xaUFZee+PlKG3XZY9cWlBWXnvj
5Sht12WPXFpQVl574+Uobddlj14jEYg0zDKGUMoGiUphMJhMNWNWNWNWGn/VeWMsZY8ozEgkEgeE
4McRiMRiNZSy64lQ04WC2j5Sh66LLLriVDThYLaPlKHrossuuJUNOFgto+UoeuinEYjEYhkf8TEJ
iExBJjEYjEND/iYhMQmITEM9Az0DPQM9AS0SZTkJyE5Dyf8AQwGAwDwg1stK1GlajStRpWo0Deln
wimhpwsMeuL/AEHaZ8IpoacLDHri/wBB2mfCKaGnCwx64v8AQdpnwimhpwsMeuL/AEHV/8QAIBEA
AAcBAAMBAQAAAAAAAAAAAAECESAwMRIDMkAhE//aAAgBAwEBPwGhME796YJ370wTv3pgnfrSX4GI
MQYglJDkhyQ5IEknDEGIMQYvieKcgmBb9acgmBb9acgmBb9ZK/B0Oh0EKDhw4Sf7FgwYMDDhw95Q
RBG0q2BXFBEEbSrYFcUEQRtKtgVxQQHDhwj9UGDBgwYMGDBWwIgwYNWWQTDxe5Uq2BQPKiyCYeL3
KlWwKB5UWQTDxe5Uq2BQPKiyCYeL3KlWwKB5UWQTBG0q2BXFkEwRtKtgVxZBMEbSrYFcWQTBG0q2
BXFkEw8fsGIMQYgxRPaWDBgw4TEsgmHj9qT34iyCYeP2pPfiLIJh4/ak9+IoJgg2UOx2Ox2ORyOR
yDQOBwOByORyOQzBw4cOOolBME7acDyooJgnbTgeVFBME7acDyooJgnQ4cOHDkHIOQcg5Bw4cGZB
yDkHIGomHaR2kdpHaR/RNKYFtqoLy5MC21UF5cmBbaqC8uTAttVBeS//xAAgEQAABgMBAQEBAAAA
AAAAAAAAAQIRIDADMTISQBMi/9oACAECAQE/AYJ1DH96dQx/enUMf3p1DH96dQQHDhw5hzDmHMOY
cOHD/GjUE/ejUE/ejUE/WwYMGCC/kMGDBJBgwYNSQYMGvRzBMDpLUDuRzBMDpLUDuRzBMDpLUDuQ
X8hgwYJIx5MeTHkwZMQcOHDxLUDuRzBEMnNKdQVAqkcwRDJzSnUFQKpHMEQyc0p1BUCqRzBEMnNK
dQVAqsfMEwPVKdQO7HzBMD1SnUDux8wTA9Up1A7sfMEwPVKdQO7HzAoL0PRj0Y9GPRxTqlw4cOPR
xx8wKC+aU6+LHzAoL5pTr4sfMCgvmlOrmDBgwx8wKCich4HgeB4Dhw4cEth+g/QfoPbj0PQ9D1Hz
HHzAoHq0rsfMCgerSux8wKB6tK7HzAoHHyY8mPJjyYYMGDAiDGGMMYYwwYMGDRx8wKB0nBN2PmBQ
Ok4Jux8wKB0nBN2PmBQOk4Jq/8QAKxAAAAUDAwMEAgMBAAAAAAAAAAECIDAxMqEDM4ERQLESIYLB
E6IjUWFx/9oACAEBAAY/AmEw+/Jh9+TD78mH35QG2goKCgoKCgoKC0Wi0Wi0Wi0Wi3LSgPuygPuy
gPt6ioqKgvcXC4XCoqKioUuvQWZFmRZkWZ7coNTjz3ZQanHnuyg1OPPdkygoKCgWRF7+3kWZFmRZ
kWZaaF6nRRf4Y3f1Mbv6mN39TCvxr9XSvsKiorGmBUOrx4Zr/H7mTAqHV48M1/j9zJgVDq8eGa/x
+5kwKh1ePDNf4/cyWIYqFTF8MXx5iSxDFQqYvhi+PMSWIYqFTF8MXx5iSxDFQqYvhi+PMRMLqKCg
oPSpPUv+jbyY28mNvJjbyY28mNvJjbyY28mFfx5MbeTG3kxt5MJ/EXp9VRUVFQojP2iJhSqZp8sO
ImFKpmnyw4iYUqmafLDiJtRUVHVtuRbkW5FuQaqCoqKjT9/7YptmWlAculyxURQHLpcsVEUBy6XL
FRFAbaioqKirNPp/rDIqi3ItyLci3IsyTSgOEmI5mKA4SYjmYoDhJiOZigOEmI5i/8QAKBAAAQIF
AwUBAQADAAAAAAAAAAHwESAwYbExQXEhQIHB0VHxkaHh/9oACAEBAAE/IamNXsWr2WNXsWr2WNXs
Wr2WNXsWrNaLRaLRpotFotCaR6EBAQCIFEREREOKOKOKOKLPqOqo6qjqqat/uowqjCqMKpEfZRhV
GFUYVRhVGlUdvqzRk3yatbb6s0ZN8mrW2+rNGTfJqzMgMgMgMgRViOgOgOgJ/CNgNgNgWiumm6Dv
4HfwO/gd/BzOZzOZATWQRo9TmczmdX1ORyORyOUufmgYWVd0mrSz80DCyruk1aWfmgYWVd0mrNYL
BYLAt6P7ktlstkT/AKGlGlGlIt9WiKfgdR9HUfR1H0dR9L5fL5fN2jkjehn4jPxGfifm91EhHlJN
siwRepAgQITZWaDCzRYWUE0aWVmgws0WFlBNGllZoMLNFhZQTRpZWaDCzRYWUE0aWVmT3epMHNHD
xI15kbWUsrMnu9SYOaOHiRrzI2spZWZPd6kwc0cPEjXmRtZSysye71Jg5o4eJGvMjayawWCwWBMP
LmTp3GERtVG1UbVRSxBqkQz9hn7DP2GfsPfYe+w99h77Hij/ABcjX2GvsNfY/StqjGHPI6iDqIOo
hGQKhtcsFgsFguS5+aBqo4mJGvEmPmln5oGqjiYka8SY+aWfmgaqOJiRrxJj5mgQIEBUJEfphAZA
ZAZAjEUYHA4HA4SpJI/RbDoDoDoEL1ODmczmRJGOmTicTicaUm/sQOeJMPNab+xA54kw81pv7EDn
iTDzNAQEBAI6xcLhcEevUgICARC4XC4XB9FH0UfRR9FEmqdHBdLpdFpuv4IiIiEb4qh08jqB1A6g
dQM/ajN/Y5teJNFab+xza8SaK039jm14k0Vpv7HNrxJom//aAAwDAQACAAMAAAAQ/wD/ACT/APbb
f/8A/wDz/wD/AP8Af/8Akn/7bb//AP8A+f8A/wD/AL//AMk//bbf/wD/APz/AP8A/wDf/wDkn/7b
b/8A/wD+f/8A/wDv/wCSQf8ALbf/AOf+P/8A/wDzbbbftv8A/wDbbW1f/wD/AOm222/bf/8A7ba2
r/8A/wD022237b//APbbW1f/AP8A+v8A+/8AxJW20kj/AOdtkkpJJNs7bbbUkltnbbbbpJJtnbbb
akkts7bbbdJJNs7bbbUkltnbbbbv/wAJKknSSSSf/r/1tv8A/wD0kyTJJJJJ/wA/9tt//wD6SZJk
kkkk/wCf+22//wD9JMkySSSSf8/9tt//AP6SZJkkkkk/5/7bb9ttSQSW22SSW2//AJJJLbakgktt
skktt/8AySSW21JBJbbZJJbb/wDkkkttqSCS22ySS23/APJJJbaUl0kttkkttn/5JJNtt/8A7a22
2222v/kkn7bb/wD21ttttttf/JJP223/APtrbbbbba/+SSf/APht/wD4SSkkpJbb223JJNthJ/8A
/bbZIJJ//wAkkm2wk/8A/ttskEk//wCSSTbYSf8A/wBttkgkn/8Ay23/AP7/AI22kkNtf/v/APW2
3/8Af/bbSSS27/8A/wD622//AL/7baSSW3f/AP8A/W23/wDf/bbSSS27/wD/AP622/8A7/7baSSW
3f8A/wD/AH//xAAhEQABBAMBAAMBAQAAAAAAAAAAAREgMTBBYXEhQLHwEP/aAAgBAwEBPxCCVDeF
GFYJmSobwowrBMyVDeFGFYJmSobwowrBMyCoVTkcjkfM+DgcDgNHwcjkcjkMMMMKgwwxQ4444444
46NcN4VYVguauG8KsKwXNXDeFWFYLiccccaQjHk8nkcf4h3EoMMMNH1MrQFjDDDDDDDSpDeFOGz6
SkN4U4bPpKQ3hThszHQdB0HQpBSI7jRo0WiCIPHjx44cOHCFcMoyjKKDhw4VFQccccZY1Q2h+z8w
3/S1UNofs/MN/wBLVQ2h+z8w3/S1UNofs/MN/wBLVQ3hThswFrFVDeFOGzAWsVUN4U4bMBaxVQ3h
ThswFqTIMgyDIJDDDG8EOlFORyORyGGGGEo4ZBkGQZoIjjRo0acMNvCv+1huwJea3hX/AGsN2BLz
W8K/7WG7AlyYYYYpDYcccaFPB4PB4PR6PR6HFdz0ej0K3Z6PR6FsiHmNIbQrwrf0tSG0K8K39LUh
tCvCt5swwwxSG0FMkaNGjTsdjsdhXho0b/m7HY7CRSqp0Oh0Oh0ilQ2yyw0hbiSobZZYaQtxJUNs
ssNIW4kqG2WWGkLZf//EACERAAICAgIDAQEBAAAAAAAAAAARASAwMUFhIXHwQBBR/9oACAECAQE/
EKa6c8s0ik4tdOeWaRScWunPLNIpOLXTnlmkUmzGMZrEIRKYaHHH/l3Hcdx3DDDDDkYxkSMY8emn
Ok4YpGbTTnScMUjNppzpOGKRmDwqffTykCEIQxjGQcOg0MYxjGMY66Kc6afrminOmn65opzpp+eK
RSKRSTIMMMTmjoOg6CaSZEEEEGMYyLCkUik8djGM2KRSKRTbVTnTZh10402xaqc6bMOunGm2LVTn
TZh10402xaqc6bMOunGm2LT9zTlltGDGLT9zTlltGDGLT9zTlltGDGLT9zTlltGDFkIQiHj9yIQq
5TE5g7zvO87xyORyOSUoORyOSZdJ8DDDDHfXT9zg7sOik0nWLT9zg7sOik0nWLT9zg7sOik0nWII
eIhCIiEIewe57nue9fSSPQ9D0I/wPU9T1PLwhjGM966P07G8Wj9OxvFo/TsbshCEQ8BCEREIRDwK
RSKRSdB0HQdBMoGGGJ5Oo6jqIcMMMMNXRg6Ydqc82jB0w7U55tGDph2pzzaMHTDtTni//8QAKBAA
AQIFAwQDAQEBAAAAAAAAAAHwESAwYbExQdEhUcHxQHGhgRCR/9oACAEBAAE/EJM7KyeDzJjZq7aw
zsrJ4PMmNmrtrDOysng8yY2au2sM7KyeDzJjZq7aQaVRpVGlUaVT+2br3UaVRpVGlU6OgjDcsFgs
CC5OipDKF4vF4vD6uR9XI+rkfVyIpViX7cj3MPcw9zEW6sHajXMNcw1zDIv0a5hrmGuYa5hvklzs
rQsLKfLEM7K0LCynyxDOytCwsp8cQb7DfYb7DfY0+xj0+63Ge4z3Ge5d4vuM9hnsM9jqd/00Utev
eVmZnwHwHwHwIWnVCx9/w+/4ff8ADsDTYfAfAfAgeAOgOgOgOgOhK0uk2VeE0k8cmNmk0uk2VeE0
k8cmNmk0uk2VeE0k8cmNmZhRhRhRhRcE6bk7htUG1QbVBdLFCwdRyOo5HUcmgJiC3N1lGGGGbRRt
FG0UbRTonjp6KIqdUUmipIaabmB3IaHZR5FHkUeRRex6tEgpH2I+xH2I+0zS6TfIws+Dumdik0uk
3yMLPg7pnYpNLpN8jCz4O6Z2KTS6TfIws+Dumdik0uoM7touLPhAg0uoM7touLPhAg0uoM7touLP
hAg0uoM7touLKwIMKMKMKMKJoETpyEEIIQQsxnVUhp2GeYZ5hnmOxBYRgsdltR2222ssssWtpEjz
zz+3jaSGpYatO4xwDHAMcBqtoSBNi7DiqOKo4qjiqMJK0uk8niTRourKDtLKTS6TyeJNGi6soO0s
pNLpPJ4k0aLqyg7SykEBQ75U+h9D6HS/iiN9hvsN9j+OSEB0R0R0R0RnoM9BnoM9Drhp98IIia/w
Z7DPYZ7f4KvgPgPgbcmiFg6I6I6I6I71lycrQsTKUdKhbiylk5WhYmUo6VC3FlLJytCxMpR0qFuL
JrhcLhcE6a9211GEGEGEFPR+C8Xi8Jep22ugwgwgwgwg/wAQ/wAQ/wAQ/wARELKjBYu4yijKKMop
1Q6OvY2i0WjQsxEibF3GOUY5RjlGOWZDKysnjkxcpRyMrQDVpZWVk8cmLlKORlaAatLKysnjkxcp
RyMrQDVpZWVk8cmLlKORlaAas3//2Q=="/>
    <p>うっ...うう... た、食べないでくださーい！！</p> 
    <p><a href="/">戻る</a></p> 
  </body>
</html>
