<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="UTF-8" /> 
    <title>formidable</title> 
  </head> 
  <body>
    <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/4QCARXhpZgAASUkqAAgAAAAEABoBBQABAAAAPgAAABsBBQAB
AAAARgAAACgBAwABAAAAAgAAAGmHBAABAAAATgAAAAAAAABIAAAAAQAAAEgAAAABAAAAAwAAkAcA
BAAAADAyMTAAoAcABAAAADAxMDABoAMAAQAAAP//AAAAAAAA/+EHp2h0dHA6Ly9ucy5hZG9iZS5j
b20veGFwLzEuMC8APD94cGFja2V0IGJlZ2luPSfvu78nIGlkPSdXNU0wTXBDZWhpSHpyZVN6TlRj
emtjOWQnPz4KPHg6eG1wbWV0YSB4bWxuczp4PSdhZG9iZTpuczptZXRhLyc+CjxyZGY6UkRGIHht
bG5zOnJkZj0naHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyc+Cgog
PHJkZjpEZXNjcmlwdGlvbiB4bWxuczpleGlmPSdodHRwOi8vbnMuYWRvYmUuY29tL2V4aWYvMS4w
Lyc+CiAgPGV4aWY6WFJlc29sdXRpb24+NzI8L2V4aWY6WFJlc29sdXRpb24+CiAgPGV4aWY6WVJl
c29sdXRpb24+NzI8L2V4aWY6WVJlc29sdXRpb24+CiAgPGV4aWY6UmVzb2x1dGlvblVuaXQ+44Kk
44Oz44OBPC9leGlmOlJlc29sdXRpb25Vbml0PgogIDxleGlmOkZsYXNoUGl4VmVyc2lvbj5GbGFz
aFBpeCDjg5Djg7zjgrjjg6fjg7MgMS4wPC9leGlmOkZsYXNoUGl4VmVyc2lvbj4KICA8ZXhpZjpY
UmVzb2x1dGlvbj43MjwvZXhpZjpYUmVzb2x1dGlvbj4KICA8ZXhpZjpZUmVzb2x1dGlvbj43Mjwv
ZXhpZjpZUmVzb2x1dGlvbj4KICA8ZXhpZjpSZXNvbHV0aW9uVW5pdD7jgqTjg7Pjg4E8L2V4aWY6
UmVzb2x1dGlvblVuaXQ+CiAgPGV4aWY6Rmxhc2hQaXhWZXJzaW9uPkZsYXNoUGl4IOODkOODvOOC
uOODp+ODsyAxLjA8L2V4aWY6Rmxhc2hQaXhWZXJzaW9uPgogIDxleGlmOlhSZXNvbHV0aW9uPjcy
PC9leGlmOlhSZXNvbHV0aW9uPgogIDxleGlmOllSZXNvbHV0aW9uPjcyPC9leGlmOllSZXNvbHV0
aW9uPgogIDxleGlmOlJlc29sdXRpb25Vbml0PuOCpOODs+ODgTwvZXhpZjpSZXNvbHV0aW9uVW5p
dD4KICA8ZXhpZjpGbGFzaFBpeFZlcnNpb24+Rmxhc2hQaXgg44OQ44O844K444On44OzIDEuMDwv
ZXhpZjpGbGFzaFBpeFZlcnNpb24+CiAgPGV4aWY6WFJlc29sdXRpb24+NzI8L2V4aWY6WFJlc29s
dXRpb24+CiAgPGV4aWY6WVJlc29sdXRpb24+NzI8L2V4aWY6WVJlc29sdXRpb24+CiAgPGV4aWY6
UmVzb2x1dGlvblVuaXQ+44Kk44Oz44OBPC9leGlmOlJlc29sdXRpb25Vbml0PgogIDxleGlmOkZs
YXNoUGl4VmVyc2lvbj5GbGFzaFBpeCDjg5Djg7zjgrjjg6fjg7MgMS4wPC9leGlmOkZsYXNoUGl4
VmVyc2lvbj4KICA8ZXhpZjpYUmVzb2x1dGlvbj43MjwvZXhpZjpYUmVzb2x1dGlvbj4KICA8ZXhp
ZjpZUmVzb2x1dGlvbj43MjwvZXhpZjpZUmVzb2x1dGlvbj4KICA8ZXhpZjpSZXNvbHV0aW9uVW5p
dD7jgqTjg7Pjg4E8L2V4aWY6UmVzb2x1dGlvblVuaXQ+CiAgPGV4aWY6Rmxhc2hQaXhWZXJzaW9u
PkZsYXNoUGl4IOODkOODvOOCuOODp+ODsyAxLjA8L2V4aWY6Rmxhc2hQaXhWZXJzaW9uPgogIDxl
eGlmOlhSZXNvbHV0aW9uPjcyPC9leGlmOlhSZXNvbHV0aW9uPgogIDxleGlmOllSZXNvbHV0aW9u
PjcyPC9leGlmOllSZXNvbHV0aW9uPgogIDxleGlmOlJlc29sdXRpb25Vbml0PuOCpOODs+ODgTwv
ZXhpZjpSZXNvbHV0aW9uVW5pdD4KICA8ZXhpZjpGbGFzaFBpeFZlcnNpb24+Rmxhc2hQaXgg44OQ
44O844K444On44OzIDEuMDwvZXhpZjpGbGFzaFBpeFZlcnNpb24+CiAgPGV4aWY6WFJlc29sdXRp
b24+NzI8L2V4aWY6WFJlc29sdXRpb24+CiAgPGV4aWY6WVJlc29sdXRpb24+NzI8L2V4aWY6WVJl
c29sdXRpb24+CiAgPGV4aWY6UmVzb2x1dGlvblVuaXQ+44Kk44Oz44OBPC9leGlmOlJlc29sdXRp
b25Vbml0PgogIDxleGlmOkV4aWZWZXJzaW9uPkVYSUYg44OQ44O844K444On44OzIDIuMTwvZXhp
ZjpFeGlmVmVyc2lvbj4KICA8ZXhpZjpGbGFzaFBpeFZlcnNpb24+Rmxhc2hQaXgg44OQ44O844K4
44On44OzIDEuMDwvZXhpZjpGbGFzaFBpeFZlcnNpb24+CiAgPGV4aWY6Q29sb3JTcGFjZT7lhoXp
g6jjgqjjg6njg7wgKOS4jeaYjuOBquWApCA2NTUzNSk8L2V4aWY6Q29sb3JTcGFjZT4KIDwvcmRm
OkRlc2NyaXB0aW9uPgoKPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KPD94cGFja2V0IGVuZD0ncic/
Pgr/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMU
FRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQU
FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCAEOAYsDAREAAhEBAxEB/8QAHAABAAIDAQEB
AAAAAAAAAAAAAAQFAgMGAQcI/8QAGgEBAAMBAQEAAAAAAAAAAAAAAAECAwQFBv/aAAwDAQACEAMQ
AAABo/D9wAXWFpFAFpW1pSQPT2YAHAd2YA353yrIE6kzqSBlauzbEAd96HCAOX870IWOoEWtotbA
YmmJA5r0OUAXWFpFAFpW1pSQPT2YAHAd2YA353yrIE6kzqSBlauzbEAd96HCAOX870IWOoEWtotb
AYmmJA5r0OUAXWFpFAFpW1pSQPT2YAHAd2YA353yrIE6kzqSBlauzbEAd96HCAOX870IWOoEWtot
bAYmmJA5r0OUAXWFpFAFpW1pSQPT2YAHAd2YA353yrIE6kzqSBlauzbEAd96HCAOX870IWOoEWto
tbAYmmJA09GIAr711TAEhO+JA9PZgAVmkACTS+USBKpMmgDfMWd8wB9G05wBU8+2itgKWulLXQCP
Kn0kC0ZACi3pFtAGxOYAl7MADWACTW+cSBIpMjMBImLi1AB9KYgCvzvpiQKCulBXUCLKh1kC5jIA
UW9ItoA2JzAEvZgAawASa3ziQJFJkZgJExcWoAPpTEAV+d9MSBQV0oK6gRZUOsgXMZACi3pFtAGx
OYAl7MADWACTW+cSBIpMjMBImLi1AB9KYgCvzvpiQKCulBXUCLKh1kCYoAKvami1QMk5AHsskADC
QAk53ziQN9Z3UkCQi2VAH0FiAIuG2FLAV9NK+lwIllB0VAp9qACJrnhaAEvQD0zAB5YAJOV86yBt
htrIG+FpSAB3NsQBr5OnzO4HmV2dwIl68/1Zgch25ACJrnhaAEvQD0zAB5YAJOV86yBthtrIG+Fp
SAB3NsQBr5OnzO4HmV2dwIl68/1Zgch25ACJrnhaAEvQD0zAB5YAJOV86yBthtrIG+FpSAB3NsQB
r5OnzO4HmV2dwIl68/1ZgcX3ZACLrnhMAensgM4b4kAb0ACTnfOsgbonbADYSoqAOh25wBt5t/aW
Ayw2yw1Ai3ii3oBwHoYADReuMwBlDMA31m1yuAL/ADoAJdL5xIG43IA02it1zAHLet54Av6WlQAl
cPdJ4O4DQVaAOO9DmAGi9cZgDKGYBvrNrlcAX+dABLpfOJA3G5AGm0VuuYA5b1vPAF/S0qAErh7p
PB3AaCrQBx3ocwA0XrjMAZQzAN9ZtcrgC/zoAJdL5xIG43IA02it1zAHLet54Av6WlQAlcPdJ4O4
DQVaAOO9DmAGi9cZgDKGYBvrNrlcAX+dABLpfOJA3G5AGm0VuuYA5b1vPAF/S0qAErh7pPB3AaCr
QBy2mYAn9HNtvQC27OK27OMCwR2EwAOC4twBznnezDx6AN8JABsJqoA6j0eEAZ7Ye2qBIy0kZ6AV
eenCcfaBz0wAJ/Rzbb0AtuzituzjAsEdhMADguLcAc553sw8egDfCQAbCaqAOo9HhAGe2HtqgSMt
JGegFXnpwnH2gc9MACf0c229ALbs4rbs4wLBHYTAA4Li3AHOed7MPHoA3wkAGwmqgDqPR4QBnth7
aoEjLSRnoBV56cJx9oHPTAAn9HNtvQC27OK27OMCwR2EwAOC4twBznnezDx6AN8JABsJqoA6j0eE
AZ7Ye2qBIy0kZ6AVeenCcfaBSwAHnseQ6OcDPp5sunnA1whQAFl53oADf5frZYbgXPRjddGAGuto
dLgCjy0AHX5xYRAE2YmWqBHpem59wPmtrADT7vh49XMBr6MNfRzgRInnqyAOs830gBa+V6u/DcDo
Ornv+vmA0VtV5agDjePqAHfYLSoCdek7SgGuloWGwHyTSwA0+74ePVzAa+jDX0c4ESJ56sgDrPN9
IAWvlervw3A6Dq57/r5gNFbVeWoA43j6gB32C0qAnXpO0oBrpaFhsB8k0sANPu+Hj1cwGvow19HO
BEieerIA6zzfSAFr5Xq78NwOg6ue/wCvmA0VtV5agDjePqAHfYLSoCdek7SgGuloWGwFH7HmADl+
3lhaZgV2la/SgEYo4ADsOHtAE/zvR246gWOlLHWgCs446ACtzsAOniJsAJuuc7TMCLS3P8+4H0P6
j5kAfNc96aLAUS9GsBHKiagDteXoAEji7M8tAM622VuBtrNjhYATtcQBYaV22ATdcp2uQFdS/G83
QB9j+k+aAHzXPemiwFEvRrARyomoA7Xl6ABI4uzPLQDOttlbgbazY4WAE7XEAWGldtgE3XKdrkBX
UvxvN0AfY/pPmgB81z3posBRL0awEcqJqAO15egASOLszy0AzrbZW4G2s2OFgBO1xAFhpXbYBN1y
na5AV1L8bzdAH2X6T5kAfMse+lroBSReli4GtENkAOm5dwBs5en2lwMotnW4G2qwykAStMwBbXje
gCbrnO1yArqX4rDoA+5fSfKgD5Rw/S0WfYBVZ6VedwN8Z29eMAR+bUARLRgAEosBsRMiAB7IAdNW
JsAJ2mc++YFXF+Dz6QP0J9N8eAPlHD9LRZ9gFVnpV53A3xnb14wBH5tQBEtGAASiwGxEyIAHsgB0
1YmwAnaZz75gVcX4PPpA/Qn03x4A+UcP0tFn2AVWelXncDfGdvXjAEfm1AES0YABKLAbETIgAeyA
HTVibACdpnPvmBVxfg8+kD9CfTfHgD5Rw/S0WfYBVZ6VedwN8Z29eMAR+bUARLRgAEosBsRMiAB7
IAdNWJsAJ2mc++YFXF+Dz6QP/8QAKhAAAAMFCQEAAwEBAAAAAAAAAAIDAQQQEiAFERMUFTAyMzQx
FiI1IyH/2gAIAQEAAQUCod+mLlul+RdqGfdh89MVqDfK3fpi5bpfkXahn3YfPTFag3yt36YuW6X5
F2oZ92Hz0xWoN8rd+mLlul+RdqGfdh89MVqDfI5VMZVMZVMZVMKnakfHOMc4xzhJ7VIM+uM+uM+u
M+uM+uM+uM+uM+uLxeLxeCt/W8Xi8ImawTtE7RO0ImaZSVglYJWCVgwijCKMIowihd0SMrk0Rk0R
k0RaKBExKwSsErAv+qWKYYphimpee6Jd0nGKVCHbsK842rQ89Fbz3RLuk4xSoQ7dhXnG1aHnoree
6Jd0nGKVCHbsK842rQ89EcyMyMyMyFjzKXi8XhjRMJhMJheLxeLxeLxeLwRv63i8XhNomEwmCB/9
cQYgxBiDNDNDNDNA615sQYgxA9I5kaeNPGnh6s//AAyAyAyFJ+VbNknGJKEezYb9reuis/KtmyTj
ElCPZsN+1vXRWflWzZJxiShHs2G/a3rojilGKUYpRilB1CzTsE7BOwTsE7BOwTsBW3tkaJGiRoka
MqqMqqMqqMqqCOisuUVGUVGUVBHRUZRUZRUZRUEd1EzUaw6DWHQaw6DWHQMtBA7M6iM6iM6iGPSR
hmExmExmEw8rkajiFGIUYhaTfYsoR7NgnGKdCvXsOvRFGhbrrN9iyhHs2CcYp0K9ew69EUaFuus3
2LKEezYJxinQr17Dr0RRoW66zfYsoR7NgnGKdCvXsOvRFGhbrrT4RcKHD17D36IpUJ89hlCVFp+K
tPhFwocPXsPfoilQnz2GUJUWn4q0+EXChw9ew9+iKVCfPYZQlRafirT4RcKHD17D36IpUJ89hlCV
Fp+KMrBKwSsErBM0oxDDEMMQwY9KpDUXgai8DUXgKWu9u5Pyu1B+V2oPyu1B+V2oNReBqLwNReBq
LwCqGVZGzkSKjKJDKJDKJA7smQtwuFwuGqPI1R5GqPI1R5DgsdZ0vF4vDv8A9FwuFwXSKolp6A09
AaehSb7E1D10bCPXGyqFuvYsvwxdqFOFZvsTUPXRsI9cbKoW69iy/DF2oU4Vm+xNQ9dGwj1xsqhb
r2LL8MXahThH8VH4qPxUfiofLMyrzlBlBlA9kwBijFGKHk96NEolEolCbZSTicTh0fMuNWGrDVhq
WKMUYoxRijTxp408aeHP/F2xBiDEDsoMUYoxQ9POEhqo1UarTa/9GNp0L9WwX5EtCXZsJcIu1Foe
Su1/6MbToX6tgvyJaEuzYS4RdqLQ8ldr/wBGNp0L9WwX5EtCXZsJcIu1FoeSMrRK0StErRbDbrRm
YJmCZgtL/olaJWiVoOkZQunvA094GnvA094ErRK0StErQwzCjEKMQoxChipRilGKUYpQksSfHIMc
gxyDHIM0kM0kM0kM0kEFSmSnYJ2CdgdjsEzBMwTMFoHYxzxSjFKMUtNuf1Iv1CHbsH5Vk5bDn54u
tFp+Ku3P6kX6hDt2D8qycthz88XWi0/FXbn9SL9Qh27B+VZOWw5+eLrRafirtz+pF+oQ7dg/KsnL
Yc/PF1otPxR//8QAJxEAAQIEBQUBAQEAAAAAAAAAAAECERIgMAMTMUBRBBQyM2FBIWL/2gAIAQMB
AT8BsJdShKHaWcLwShNgl1KEodpZwvBKE2CXUoSh2lnC8EoTYJdShKHaWcLwShLECBAhsksKQIEC
BIhIhIhIg3+JBCJEiNuLsUsLZShlxdilhbKUMuLsUsLZShliBAgQFQgQIVQIECBAgQICIQIECBAg
QIEpKSkpKSkpKNw4oZX0yvplfRuGSEhISECBClddimxZpQ2hdLC67FNizShtC6WF12KbFmlDaF0s
LZgQIEKUsxIkSJO0naTtJ2jcVkNTOZyZzOTOZyMe12lC7BLKWF0u9N+7RLKWF0u9N+7RLKWF0u9N
+7RLKWF0u9N+3H60dR+Xen9abF2tDaMPysP1o6j8u9P602LtaG0YflYfrR1H5d6f1psXa0Now/Kw
/WjqPy70/rTYu1obRh+VjHxHNxFRDOfyZz+TOfyY2I5YE7idxO4ncTKTKTKTLTgetCJEiYj3N0M1
/Jmv5M1/ImI4nUnUnUnUkQkQkQkQy2mUzgymcGUzgVjU0IIQQgg1P7Y6n2rRi/l3B9aUY35Qmt11
DdbHU+1aMX8u4PrSjG/KE1uuobrY6n2rRi/l3B9aUY35Qmt11DdaO+/yd9/k77/J33+R7s105AgQ
Fwpzt/p2/wBO3+nb/TI+mR9Mj6ZH0kJCQkML+MRCJEiOZOZH0yPpkfRMH6ZX0yvplfTK+1RIkRyk
xMTDV/pEiRpbpQ27h+NDdi+huthulDbuH40N2L6G62G6UNu4fjQ3YvobrYw8HEe2ZqHbYvB22Lwd
ti8DemxeDtsXg7bF4O2xeBenxUTQyX8GS/gyX8GS/gyn8GU/gyn8GU/gY1USCkCBARLMCBAgQIEC
A9FIKQUgo1FiSqSqSrT0fobQ2jE8bqbF1DNbHR+htDaMTxupsXUM1sdH6G0NoxPG6mxdQzWx0fob
Q2jE8bqbF1DNaP/EACkRAAAEBQMEAwEBAQAAAAAAAAABAiADEhMwMREyUQRAQWEUITNQYiL/2gAI
AQIBAT8BYrLFXTyxTE5sxd5sO4rLFXTyxTE5sxd5sO4rLFXTyxTE5sxd5sO4rLFXTyxTE5sxd5sO
xMYmMTGJjBFr9mJSEpCUhKQkSJEiRIkSJEiRIkSJEtNimE2ooVFCooVFBRmZ6mw2ENCGhDQmpx2q
rp5YbCzYTjtVXTyw2FmwnHaqunlhsLNhOOxMxqNRqDbMJhMJhMJhMJgqJoYq+hV9Cr6Co2ngV/Qr
+hX9BMb7wKgqCo0sdieWGw7K9zFsRusFjsTyw2HZXuYtiN1gsdieWGw7K9zFsRusFixqJiExCYhM
QnSJ0idInSDWnUTkJyE5CYhMQmITENSNtJfApL4FJfApL4C4EQzwPjxOB8eJwPjxOBFhLTpqQkUJ
FCRQSkyOwVg8WTsFmybOq8XCsHiydgs2TZ1Xi4Vg8WTsFmybOq8XCsHiydgs2TZ1Xi4nDOn83Yu8
+xThi2RNthOGdP5uxd59inDFsibbCcM6fzdi7z7FOGLZE22E4Z0/m7F3n2KcMWyJtsQIaVQyMxRR
wKKOBRRwIMJBa/QppFNIppFNIkSJEiRIkSJSEpCUhKQjF/2bISEq11FFHAoo4FFHAOEjgU0imkU0
imkTGJjExiYwcVZfRGK0TkVonIrROQUVZ5MTmJzE5hSj0Go1Grem/ImQvN2N+hsgeWHiyrLEsVix
035EyF5uxv0NkDyw8WVZYlisWOm/ImQvN2N+hsgeWHiyrLEsVhnwv9D4X+h8L/Q+F/oQ00kyDUaj
UJiSiv6Ff0K/oVvQq+hV9Cr6FX0JhMJhMIv2sxoNBoELpiv6Ff0K/oK6j6wPkeh8j0Pkeh8j0JhM
JhMNNfsSiUShCBIJBIFI+hKJRK089jE3MNisWSwxDF4sHnsYm5hsViyWGIYvFg89jE3MNisWSwxD
F4sKURGJ0idInSKiSFVHIqo5FVHIqo5FZHIrI5FZHIrI5FZHIrI5FZHIrI5C1EZ6kNRqNQbFYGhj
QxoY0NpGNRqNQhRCYhMQmIKUWliJuYr+Elh4sRNzFfwksPFiJuYr+Elh4sRNzFfwksPDP//EAC4Q
AAAEBAUDAwQDAQAAAAAAAAABAiAwMTKhAxEzgbESQKIhNKMiQdHhE1Bhcf/aAAgBAQAGPwJiWL7F
UVbCiJYvsVRVsKIli+xVFWwoiWL7FUVbCgU3FNxTcU3BpT6JITExMHkqwrsQrsQrsQrsQrsQrsQr
sQrsUExMTEwRG2QkJCQMzTcUXFFxRcYfSWU2GZCYmJtV2psKCbMLdioCu1NhQTZhbsVAV2psKCbM
LdimUikUikGfamwhISEhIU3FNxTcU3EhISEgn16chXYV2Fdgr67CuwrsK7d8XYq/oS7FX9CXYqZM
TExMTExMTbkTabim4puKbim4puKbim4P6bim4puKbjqUnIm6viY1fExq+JjV8TGZL9P+GK7Cuwrs
PRVhUKhUFeomJicUopsOClhsPsCimw4KWGw+wKKbDgpYbD7AopsOClhsOATF7MRvxBUw2FFNmJtz
AJi9mI34gqYbCimzE25gExezEb8QVMNhRTZibcwCYvZiN+IKmGwopsxNuYGRCYmJj6VZZ/4NSxDU
sQ1LEDxMPF6Vl9+kh7r40/ge6+NP4HuvjT+B7r40/galiGpYhqWIaliHUo81GzE6izyyFNxTcU3B
mSfVup4kNTxIaniQ1PEghazzUefLFMNKizIUXMUXMUXOKqCTMXZhwcPflimH2CoJMxdmHBw9+WKY
fYKgkzF2YcHD35Yphs918f7Huvj/AGPdfH+x7r4/2F4f8nVl98hVYVWFVgn75iQkJBXpBImK+jqz
/wBGl5DS8hpeQ6f48s/9EhISEhXYV2FdhXYIRPISEhIK9BISEgpXTnkNLyGl5DS8m4u3DMPdh9iU
EmKYvbmBi7cMw92H2JQSYpi9uYGLtwzD3YfYlBJimL25gYu3DMPdnSkszGnchp3IadyGncm5GJiY
mJiYmJgvUTExMTFVhVYVWFVgRkbFMxNuRMTE2423BMQwuxKClimYm3MDG24JiGF2JQUsUzE25gY2
3BMQwuxKClimYm3MDG24JiGF2JQUsUzE25Z//8QAKBAAAQIFAwQDAQEBAAAAAAAAAAHwESAwYbEx
QcEhcdHxQFGBoeGR/9oACAEBAAE/IZMjMnFzV0ZOKqYmEk55NWhkZk4uaujJxVTEwknPJq0MjMnF
zV0ZOKqYmEk55NWhkZk4uaujJxVTEwknPJqyNKGlDShpQp3sE1H0QfRB9ENHcbB/xD/iH/EP+If8
Q/4h/wAQ/wCIj+yP7I/sj+xaAiIiI6ZX6k2yhkULRaLRaGlGlGlGlIilVhu+hxQ4ocUb+XV1WxaL
RaE6cVIZGkGkGklwsSbquhQs/FVMfkmJmhhYk3VdChZ+KqY/JMTNDCxJuq6FCz8VUx+SYmZGRGRG
RGROl0IwxIIOx2nadonXodp2nadsodBIIeg7TtO0gdH7wOiOiOiOjKABEl6f0dEdEdE73doxG+43
3G+5/wAD/fcf7j/cf7y68iSaqOhJvkz8VRZMPNDXkSTVR0JN8mfiqLJh5oa8iSaqOhJvkz8VRZMP
MjSDSDSDSChXCTbIruXS6XRNPqKWSyWSyOoHUDqB1BAOIbQNoG0H+dD6B9A+gRMAarFCJEiRG/CN
+Eb8I34Trbq3/wAhhQwoYUbowuGEUYRRhFEaTr6bL9jiDiDiS6sm+TPxR0/gkyMycMmPmhqyb5M/
FHT+CTIzJwyY+aGrJvkz8UdP4JMjMnDJj5oasm+TPxR0/gkyMycMmPmpmv2R1dRwcfBBooTaypmv
2R1dRwcfBBooTaypmv2R1dRwcfBBooTaypmv2R1dRwcfBBooTaySwWCwWDWEEQcQcQcQjt86FGPE
MeIY8RsgTE23SVJJJJ7xD3iHvEPeIQe+CwhJYGOvcfUPqH1ELsjeKkBAQEA/4B/wD/gH/AagmFgi
biP7I/sj+zeWICAgI3hhFI3G/MN+Yb80urJtkx80c/MjH7Jj5osrpOKoNWTbJj5o5+ZGP2THzRZX
ScVQasm2THzRz8yMfsmPmiyuk4qgiIj6xuzGKIv3Jtt31rDIjIjIkHWZIkSJE7zvO87zphE7DsOw
7efp9jPQZ6DPQX+keo6I6I6I6I33G+433G+4m8XXTdR0R0R0T+JuMiMiMifRI6RuO9B3oO9JXdsj
35Ji5o6cm74MXBI2soO7ZHvyTFzR05N3wYuCRtZQd2yPfkmLmjpybvgxcEjaySwWCwWBJGuvjLhc
LhsuvoWCwWBfxDokRzzDnmHPMOeYsFgsFgRIkFGEGEGEEseA8g8g8gg4o+ij6KPoo+ijKhlQyoZU
RJCLHa5dLpdNy+i8Xi8LQqsgeQeQeSidycSZuKOv8HZeVk4JG1lQ7k4kzcUdf4Oy8rJwSNrKh3Jx
Jm4o6/wdl5WTgkbWVDuTiTNxR1/g7LysnBI2sk//2gAMAwEAAgADAAAAEAAB/wCf9JJSSTbe2kkm
SSf/AP8A7bQAB/5/0klJJNt7aSSZJJ//AP8AttAAH/n/AEklJJNt7aSSZJJ//wD+20AAf+f9JJSS
Tbe2kkmSSf8A/wD7bQAP/wA/9JJSSLbK2kkmST//AP8A/bf/AP8A/X/ttttt/wDP/wD/APSSUkpJ
bb//AP8A9f8Attttt/8AP/8A/wDSSUkpJbb/AP8A/wDX/ttttt/8/wD/AP8ASSUkpJbbJJFt3/Db
dtv/AOdsySf/AOttEnW3/wD6Sm222wAASV/+22ttv/4A/wD/AP8A6Sm222wAASV/+22ttv8A+AP/
AP8A/wCkptttsAAElf8A7ba22/8A4A//ANtq23bX/wDtt3/r/iSTbZ//AH/v/wBts2/bf/8Attv/
AO/8kk223/P/AP8A/bbNv23/AP7bb/8Av/JJNtt/z/8A/wD22zb9t/8A+22//v8AySTbbf8AP/8A
/wDbbNv23/8A7bb/APv/ACSTbbf8/wD/AP8A/wD9tsk//wCSSf8A8kyST/8A/wD/AG223/8A9tsk
/wD+SSf/AMkyST//AP8A/bbbf/8A22yT/wD5JJ//ACTJJP8A/wD/APbbbf8A/wBtsk//AOSSf/yT
JJP/AP8A/wDbbbf/AOW0yRf/AJJJ/wDCSpJP/wDf9W0W3/8A/wD9/wDbbW222r/7bZtt/wD8k22/
/wD/APf/AG21tttq/wDttm23/wDyTbb/AP8A/wDf/bbW222r/wC22bbf/wDJNtv/AONvf8pJW2ht
+2mSRtstu/8Af/SSX/zb220kk23be22bbck7b/8A0kl/829ttJJNt23ttm23JO2//wBJJf8Azb22
0kk23be22bbck7b/AP8A/wDFtpJH/wDba23UkySf/wANvf8AVt//APbYSf8A/wBttbZSRJJ//wC2
7/7bf/8A22En/wD9ttbZSRJJ/wD+27/7bf8A/wBthJ//APbbW2UkSSf/APtu/wDtt/8A/bYSf/8A
221tlJEkn/8A7bv/ALbf/8QAJxEAAgEDAwUAAwEBAQAAAAAAAAERIDAxQbHwIWFxweFAUdGhgZH/
2gAIAQMBAT8QoWLB2cLDJZ4PNirCxYOzhYZLPB5sVYWLB2cLDJZ4PNirCxYOzhYZLPB5sVREiRIj
6OESSSJslksljbJZLJZLIIIIE6EEECo6kQIECB2TsnZOydFgJkyY7czQrGVCodnChUYWcKNVCsZU
Kh2cKFRhZwo1UKxlQqHZwoVGFnCjVQrH9SgQQQQRZAOhQFQDkjyPI8jyPM8zzPMhHNAEc9TzPM8x
wUz+T7ChUOzho1fm1hQqHZw0avzawoVDs4aNVikkkkyIIIIIIIIbJkyZMhkMhkMRwQyGQyIofREC
BAgd47x3jvCip7jiTOJM4kyZnMEkknUiGQyHS82MrOFDuyxR6/dDsPNjKzhQ7ssUev3Q7DzYys4U
O7LFHr90Ow82MrOFDuyxR6/dDsZaPf6odnd7uw8Wc9GujDzSxlo9/qh2d3u7DxZz0a6MPNLGWj3+
qHZ3e7sPFnPRrow80sZaPf6odnd7uw8Wc9GujDzSiCCCB9HTp+v0jiSOJI4kjqx/v9HcO4dw7h3z
vnfO+QQQQM1/03ZIkSIiRwQcEHBA24b2O6d07p3TsnZOydkb3LW5wScEnBJhR2jtHaFJWiWSyXTs
dlYFZ3m7o9lGK7powWNjsrArO83dHsoxXdNGCxsdlYFZ3m7o9lGK7powUc5+HOfhzn4c5+E5CJ0/
yj9J1iDjH04x9OMfTo67Ppwj6cI+nCPpwj6eR5HkeR/7jegdD1iDhH04R9OEfSFzs+nKDlByg5RS
3FAjg8DwPAnXpYGOjVQ8WcFGqhZsvNGijHYx0aqHizgo1ULNl5o0UY7GOjVQ8WcFGqhZsvNGijHR
KJRKJQsyE+6/fk4Wv6cLX9OFr+nU+6/pztf052v6c7X9Jw/9r+nE0cTRxNHE0cjRyNHI0cjQno6k
yZMciGQyGJQSSSSSJEiQ2kmTJnRHaO0dojeh2DsHYp3G7o10ZLLsHZdGmjDY3G7o10ZLLsHZdGmj
DY3G7o10ZLLsHZdGmjDY3G7o10ZLLsHZdGmjDR//xAAnEQABAwMEAwADAQEBAAAAAAAAAREgMDFh
QXGx8CHB4UBR0aGB8f/aAAgBAgEBPxCF+GiCVbTCxR4nFCtC/DRBKtphYo8TihWhfhoglW0wsUeJ
xQrQvw0QSraYWKPE4oVhnM5nM4gnUMBgMAq90MBgMAn6DAYDAYIoRxkGQZBKeBkGQZBDKOo6jqOp
n4M/Bn4M/Au7g444sccc8lZTEYjFG3QSit4aYJf8G2qFuglFbw0wS/4NtULdBKK3hpgl/wAG2oMM
MMeCBxx5OOOPFhWh1vB28m02m02mw2Gw2DyjQA8T2Oj/AA6P8Oj/AAeSnI2m02xtQSreoLKN6GiF
ihaglW9QWUb0NELFC1BKt6gso3oaIWIMoyjKMsZ2HQdB0FQnlTOZzOZzMZjMZjWDKZTKKvqZzOZx
fERRhhhjsVDsVDsVDsVBWqn+k/p1qn9OtU/p1qn9PaJDAYDAJ1VShZBYXqN1C1Ruh7fVSyCwvUbq
FqjdD2+qlkFheo3ULVG6Ht9VLILC9RuoWqN0Pb6qW4en3BKPE4gtWxDRC5Qtw9PuCUeJxBatiGiF
yhbh6fcEo8TiC1bENELlC3D0+4JR4nEFq2IaIXIOo6jqOonR58/v9qdSqdSqdSqeAfp+zDyYeTDy
KjoYDAYDAYDAYDAJJ/y4QZBkGQ8aux1Kp1Kp1KojR0/0pj5MfJj5MfJnM5nM4r2GyHYifw7ET+HY
ifw+CGUymUXrRVHjx8efysPVBbUeJwkPV7heo34a4X6HP5WHqgtqPE4SHq9wvUb8NcL9Dn8rD1QW
1HicJD1e4XqN+GuF+HZvp2b6dm+nZvoyudv/AGH83w7nR/h0f4dH+Hn45fDs52c7OdnNptNptPMb
cQHleHc7P8Oz/Ds/wYV7fDu/w7v8O7/Du/w2m02m0V0bzebxx/JvN5vG1+TebzfVko3e6UN+ra4X
fwJKN3ulDfq2uF38CSjd7pQ36trhdoKxFUyGQyC3S8nQ50OdDjXwp1Ip1Ip1Ip1Ip1Ip1Ip1Ip1I
op1PAwYMFIo4455KRDEYjEYhlGUZRlEERlGjRokd1M5nM4sWiKOg6DpG/wB0hpgtqKWgsForeGup
X+6Q0wW1FLQWC0VvDXUr/dIaYLailoLBaK3hrqV/ukNMFtRS0FgtFbw10L//xAAoEAABAgUDBAMB
AQEAAAAAAAABAPARIDBhsTHB0SFxgfFAQVGhkeH/2gAIAQEAAT8QkcXUGGtHOzI15k0quznioHF1
BhrRzsyNeZNKrs54qBxdQYa0c7MjXmTSq7OeKgcXUGGtHOzI15k0quznigG+RN8ib5E3yLor50RB
EAnqYnUlP8Sf4k/xL8f8erGEf0XkoooEaWKKKKGgmgmgmgjur+5VxXFcWhqPV0F08AngE8AooBjE
QA+imiU0SmiU0SnS5Tpcp0uU6XK1JyGD9Lp7nT3Onudef6UYdGpumiU0SmiUMH0Q6/ROhwnQ4Toc
SvrJNqQa0cnMmzvI6uo4+BQt1ZQfWSbUg1o5OZNneR1dRx8Chbqyg+sk2pBrRycybO8jq6jj4FC3
VkjfVN9U31TfVdgYjH6Bdi7F2Lr9Ubp8U+KfFRgGSdFOinRTorsXYuxdi+h/crsXYuxfrIw++6fF
PinxUU9fdcmeiZ6Jnomeib6Jvom+ib6L7vIdOzsmeiZ6Jnov+w6hcfkmZkA7gUAAGDig0aOTmTbk
aXUdagcWUMHFBo0cnMm3I0uo61A4soYOKDRo5OZNuRpdR1qBxZI6XCdLhOlwnS4RzHR0+34ngU8C
ngVHIfyUyCmQUyCicRYwEIfSZITJCZITJCY5UxypjlTHKie+/wBe6d5U7yp3lRnh/rdM8qZ5Uzyr
rCH1KERD6N1D+qH9UP6of2X3330E+v4CMOn3YnuNPcae41H7h0dk5xJziTnEozkugWlk0XCaLhNF
xLjYoTy6jk5k2N5MfIotrpHPMjSyhjYoTy6jk5k2N5MfIotrpHPMjSyhjYoTy6jk5k2N5MfIotrp
HPMjSyhjYoTy6jk5k2N5MfIotrpHPMjSyhm5PwQAd2ybO8mZg0dGTZ3qJ5uT8EAHdsmzvJmYNHRk
2d6iebk/BAB3bJs7yZmDR0ZNneonm5PwQAd2ybO8mZg0dGTZ3oJuEpwlOEpwlE/8KEAU0HCaDhNB
wv76ihpqD+mRBBDoYBpSJBdCjQn6ooooo2WWWddNOiigYDoIDQBQCgFALzIgIR6tDYJ/lT/Kn+Vd
MvoRUIkD7N1aVpWlalaaaa/cACIAHQADQBNBNBNBF+2HR/VaVpWl9z9gIwAjqDHUVGGGBvyNLaLy
6hbSyq+15kxMioN+RpbReXULaWVX2vMmJkVBvyNLaLy6hbSyq+15kxMigIiP/JX5Ioaw1T/ZP9k/
2WA/ohDv+pvom+ib6LRFHVGyUHwT4J8E+C+tCPWMPsp8U+KfFceNDsP7Ju7A/wBbhDrp2Jvom+ib
6JvpLmZnVn/XRNp1/Uz0TPRM9FDca2TfRN9E30X+LZxiA1hf4EREJtrKOVmTakycGjn5MjXn4hEJ
trKOVmTakycGjn5MjXn4hEJtrKOVmTakycGjn5MjXmgQ4QnCE4QnCEZ+AdQSwEwEwF2d1IwUwUwV
0v76ARgYnqTDQSwQQQMFMFMFMFBsA6iBKcJOEnCXWUMbuE+XCfLhPlwimejr9vw2TPEmeJM8SZ4k
5wJzgTnAnOBaCFDEPtZOgp0FOgozp/yN00CmgU0CoZEDVAofLhPlwny4qjM2uo4OKGdg1fmvPxNx
mbXUcHFDOwavzXn4m4zNrqODihnYNX5rz8TcZm11HBxQzsGr815ob//Z"/>
    <p>あなたは得意なことが<%-tokui%>フレンズなんだね!!</p> 
    <p>平気,平気!! フレンズによって得意なことは違うから!!!!</p> 
    
    <p><a href="/">戻る</a></p> 
  </body> 
</html>
