<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="UTF-8" /> 
    <title>formidable</title> 
  </head> 
  <body>
    <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/2wBDAQEBAQEBAQEBAQEBAQEBAQEBAQEB
AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/wgARCAEOAeADAREA
AhEBAxEB/8QAHQABAAIDAQEBAQAAAAAAAAAAAAMEBQYHCAIBCf/EABwBAQACAwEBAQAAAAAAAAAA
AAACBQMEBgEHCP/aAAwDAQACEAMQAAAB8l8XYADJJzPQLEY2IxAke3EwBYABNB9eAJCQAnmyuyAE
eMANVQovAKso1ZRAjKYAMWADFTzQeyAppbhr4QBkk5noFiMbEYgSPbiYAsAAmg+vAEhIATzZXZAC
PGAGqoUXgFWUasogRlMAGLABip5oPZAU0tw18IAyScz0CxGNiMQJHtxMAWAATQfXgCQkAJ5srsgB
HjADVUKLwCrKNWUQIymADFgAxU80HsgKaW4a+EAZJOZ6BYjGxGIEj24mALAAJoPrwBISAE82V2QA
jxgBqqFF4BVlGrKIEZTABiwAYqeaD2QFNLfNHMAMlLHN74Bb8jbRAn9xZXLoACPDZACbyX09AtFo
A6B5k9hx3gBxXb0AB5tYtPRAheRegI/FOIAY6GYAYVmr+yArRlsWL0AZKeGb2IFxG4iBYlgzGaqA
FfXuABMn9PQLhcAOqRze/MNkAPOdhVgDyWw6GiBGRgEfinAAMfj2ABhGaskBXjLMRiAMlPDN7EC4
jcRAsSwZjNVACvr3AAmT+noFwuAHVI5vfmGyAHnOwqwB5LYdDRAjIwCPxTgAGPx7AAwjNWSArxlm
IxAGSnhm9iBcRuIgWJYMxmqgBX17gATJ/T0C4XADqkc3vzDZADznYVYA8lsOhogRkYBH4pwADH49
gAYRmrJAV4y2bGAGQnim98Ay/sMv7ADaM2n3iy5sAafjsgBz2utsTi2AMnjnk8cwOoYs/vLQtQBx
m2rQB40zafPJYwPjx8eAPnxHCQAp48wAoRyRJAQR9oZvABfnCX3wDYpY9iljA6RtV3ti+4wAcnbg
A86891Wo6m8BmtfNmtfMB03X2Pc9PcADn95XgDw9uVvNMmED5i+YgP3z37hMAV8eQAfEJ/nnoEMX
LbLGAL84S++AbFLHsUsYHSNqu9sX3GADk7cAHnXnuq1HU3gM1r5s1r5gOm6+x7np7gAc/vK8AeHt
yt5pkwgfMXzEB++e/cJgCvjyAD4hP889Ahi5bZYwBfnCX3wDYpY9iljA6RtV3ti+4wAcnbgA8689
1Wo6m8BmtfNmtfMB03X2Pc9PcADn95XgDw9uVvNMmED5i+YgP3z37hMAV8eQAfEJ/nnoEMWk5ZgC
7OEvvgG559fc9jABvmzo+tr7lABxD3YAHD6HpNa1dwDOV+5nK/dA33Bn9b1toAMLnxADyRvVmhZc
IGEy4sLlxAfnnvzGQAqQmAK0JfD0Cv42ektABZnD798A7NcVvZritAzWzh6dd1oA8l5MYA16qsqm
DMBsXL9BsXL9ABd8ns8NkAdY4e8AGjWtVjM+ADjd1V8buqsCExoAMWADCFYApydAw7AAszh9++Ad
muK3s1xWgZrZw9Ou60AeS8mMAa9VWVTBmA2Ll+g2Ll+gAu+T2eGyAOscPeADRrWqxmfABxu6q+N3
VWBCY0AGLABhCsAU5OgYdgAWZw+/fAOzXFb2a4rQM1s4enXdaAPJeTGANeqrKpgzAbFy/QbFy/QA
XfJ7PDZAHWOHvABo1rVYzPgA43dVfG7qrAhMaADFgAwhWAKcnQMOwALM4ffvgHZrit7NcVoGa2cP
TrutAHkvJjAGvVVlUwZgNi5foNi5foALvk9nhsgDrHD3gA0a1qsZnwAcbuqvjd1VgQmNABiwAYQr
AFOTS4gBnk7T0DaOiqdo6KpA1Dd1fOXT0IA5nV2gA9M8B1u51W+BmMzMZgFnZhm7vWAHoz8z/dAB
W1ofEPANV6LmdV6LmQLEfcxhmAMhjAC5rTkh6B8xyeBe65sAZ5O09A2joqnaOiqQNQ3dXzl09CAO
Z1doAPTPAdbudVvgZjMzGYBZ2YZu71gB6M/M/wB0AFbWh8Q8A1XouZ1XouZAsR9zGGYAyGMALmtO
SHoHzHJ4F7rmwBnk7T0DaOiqdo6KpA1Dd1fOXT0IA5nV2gA9M8B1u51W+BmMzMZgFnZhm7vWAHoz
8z/dABW1ofEPANV6LmdV6LmQLEfcxhmAMhjAC5rTkh6B8xyeBe65sAZ5O09A2joqnaOiqQNQ3dXz
l09CAOZ1doAPTPAdbudVvgZjMzGYBZ2YZu71gB6M/M/3QAVtaHxDwDVei5nVei5kCxH3MYZgDIYw
Aua05IegfMcnJ7zCAMg9mAMfaaVC10gNYsdPhfa80APf1XegDpHP2GY1coEWLNHjzAV8eTDam8AP
zkOjAGP0dWLHACTY0pdnTAliv4fQB+45gCXF79eAIo+8b6H0AXCQA12w1ddsNUDW7PS4n3PMAD+t
lX0AA22qzX8EgKOvsUdfYAo6+fVae1AGn6ewAMboacOLGBlGPKMYEkVzCAEePIAPuD98AQxcF6YA
LhIAa7Yauu2GqBrdnpcT7nmAB/Wyr6AAbbVZr+CQFHX2KOvsAUdfPqtPagDT9PYAGN0NOHFjAyjH
lGMCSK5hACPHkAH3B++AIYuC9MAFwkANdsNXXbDVA1uz0uJ9zzAA/rZV9AANtqs1/BICjr7FHX2A
KOvn1WntQBp+nsADG6GnDixgZRjyjGBJFcwgBHjyAD7g/fAEMXCegkALkfZHoGSu6vJXdWBSsdPW
uz5sAdK536cAMnz/ALPq+gX9H2/o+gWdjFnbjQAGo6NgAMJyuzW0ZgXkLyAH3FbxgBDjkAP2Hv75
6BDFwvoAAuQnJ56B0bpqHo3TUIFvf1Nh63ngB4n4/wC+ACHlYfOj4BtlXh2yrwgbDcV3Y/pHGADU
6+4AGt/Or6nUbQFhGwiB9+LMAAr4wAQm89Ahi4T02MAXITk89A6N01D0bpqEC3v6mw9bzwA8T8f9
8AEPKw+dHwDbKvDtlXhA2G4rux/SOMAGp19wANb+dX1Oo2gLCNhED78WYABXxgAhN56BDFwnpsYA
uQnJ56B0bpqHo3TUIFvf1Nh63ngB4n4/74AIeVh86PgG2VeHbKvCBsNxXdj+kcYANTr7gAa386vq
dRtAWEbCIH34swACvjABCbz0CGLgvQegC7jlL56B0rrec6X13OAXd3V2bqaEAeJ+R+4gDA8zkq6c
gNtpIbbSQAzVlpdQ7bmQBV17QAYLirSrXZwJYQljED78W4ABBjABCR6BDF57sN8AZLCmiA6x9E43
rH0TjQMls4N2u6oAeJ+X+oADjNPd67r7IG4cfm3Dj8wE5lQAdcsNgAVoa3x5ACPVxx6uMCXxfgAE
eMAAAIzz/abgAyWFNEB1j6JxvWPonGgZLZwbtd1QA8T8v9QAHGae713X2QNw4/NuHH5gJzKgA65Y
bAArQ1vjyAEerjj1cYEvi/AAI8YAAARnn+03ABksKaIDrH0TjesfRONAyWzg3a7qgB4n5f6gAOM0
93ruvsgbhx+bcOPzATmVAB1yw2ABWhrfHkAI9XHHq4wJfF+AAR4wAAAjPP8AabgAyWFNEB1j6Jxv
WPonGgZLZwbtd1QA8T8v9QAHGae713X2QNw4/NuHH5gJzKgA65YbAArQ1vjyAEerjj1cYEvi/AAI
8YAAARn/xAAuEAAAAgcHBAMAAwEAAAAAAAAAAwECBAUQIDAGEhMUFRYyETEzNBc1NiEiQAf/2gAI
AQEAAQUCkL4xUkV5UEdookL50GnzRMkW40DOcTZS+MVJFeVBHaKJC+dBp80TJFuNAznE2UvjFSRX
lQR2iiQvnQafNEyRbjQM5xNlL4xUkV5UEdookL50GnzRMkW40DOcTRdQLqBdQLqAWqi7dQLqBdQC
lFRcVFxUXFQWWpfwSxgljBLGCWLiouKi4qLioQor0uKi4qLioLKUSMEsYJYwSxZZ2sTe/tkWXGyL
LjZFlxsiy4265xt1zjbrnG3XOH+yM7M9sNQYagw1AsUWkYJYwSxglhYku7gljBLGCWMEsYBQwChg
FDAKBpJeJhFjCLGEWDCS5S+MSpCudBHaJUliv01C033cUyLcaBvkivKXxiVIVzoI7RKksV+moWm+
7imRbjQN8kV5S+MSpCudBHaJUliv01C033cUyLcaBvkiuMEYIwRghQr+uEMIYQZWXEGQGQGQDmcO
pPL42HxsPjYfGw2QNkDZA2QG505FqygygygZ2C+NNGmjTRYx33bS5QZQZQZQaENCGhDQhat24b/y
AyAyASwDTxp408Jd3UaWNLGljSxpI0kaSNJC7jvLaCNBGghdwyqcYsElkf0NB+/axZJLHfo6FsP0
UU/4VpVOMWCSyP6Gg/ftYskljv0dC2H6KKf8K0qnGLBJZH9DQfv2sWSSx36OhbD9FFP+FYaa2jTW
0aa2jTW0KO5su6e2DT2wae2B0OR6NQ2y+xtl9jbL7FmXA9mZ+ZY4ZY4ZY4ZY4YpYxSxiljFLD4ZG
g946e2DT2wae2BjdrakaY2jTG0aY2izDMcxPzVWAaqwDVWAaqwC6kXUi6kXUi07ierW/NsvsbZfY
2y+w2Ol4MIwDRgGjANGCYgXUi6kXUi6mVZdVCcRQYigxFAuaWiVXtGyMjv8AcoH+WLBIz+ag2exG
1shnGgb5Imyq9o2Rkd/uUD/LFgkZ/NQbPYja2QzjQN8kTZVe0bIyO/3KB/liwSM/moNnsRtbIZxo
G+SJsqvaNkZHf7lA/wAsWCRn81Bs9iNrZDONA3yRNlJ8cXbI/vqqFn/qIskhXkoLd4vOQrnQV4xT
KT44u2R/fVULP/URZJCvJQW7xechXOgrximUnxxdsj++qoWf+oiySFeSgt3i85CudBXjFMpPji7Z
H99VQs/9RFkkK8lBbvF5yFc6CvGKRt1zDbrmG3XMNuuYKOB0IV0F0jQXSNBdIPdjEyjAKGAUMAoP
hnJWduRZRkWUZFlGRZR8V2CHxXYIfFdgh8V2CDB/zyx5DJsKyY2FZMbCsmFrEWXKGzrODZ1nBs6z
gNslZ4tTbrmG3XMNuuYbdcww1BhqDDUGGoF1Fb11AuoF1AVY2ZpGku8aS7xpLvCjqYL2lsI0thGl
sI0thGnsY09jGnsY09jCGBkGRZRkWUZFlCzCyyq8Yt8j3+voM3gidI0+GgZyizSK8qi0qvGLfI9/
r6DN4InSNPhoGcos0ivKotKrxi3yPf6+gzeCJ0jT4aBnKLNIryqLDoOg6DoFUf16DoOgZ3Nqo2cN
nDZwaLCZ0r4kHxIPiQfEg3QN0DdA3QC7Z4Sm9xvcb3BNqs4NdGujXQS8s6ZkhkhkhkhkRkRkRkQa
y9DMsMsMsCSbouC4LgVU/m6Loui6Og6DoOg6DoOg6BZEqvGLgkI8tBPeLrkdXv0D/LFSRXvUWlV4
xcEhHloJ7xdcjq9+gf5YqSK96i0qvGLgkI8tBPeLrkdXv0D/ACxUkV71FheQLyBeQLyAolF3qgdU
DqgWeQlYYa4w1xhrhnKMSdljhljhljhljhljhljhljhljgccWSZm2cZtnGbZw62sgZogZogZogO5
uZSmzW3YNbdg1t2DW3YMVQYqgxVBiqA7+TIqpQgX1RfVF9UKrq9byBeQLyBeQOqB1QOqB1QOqB1Q
OqB1QFkyl8Y2XkZPYoPX34uqQvnQW7xTIpyqJlL4xsvIyexQevvxdUhfOgt3imRTlUTKXxjZeRk9
ig9ffi6pC+dBbvFMinKomUvjGy8jJ7FB6+/F1SF86C3eKZFOVRI//8QATREAAAICBxAOCQQDAQAA
AAAAAAIBAwQREhMgMaEFFBUwQVFSU4GCoqOx0dLhITIzNGFiY4Oys8HT4uMiQEJDRGTCw/AGNVSE
RXHEJP/aAAgBAwEBPwGAiKAaAiP1pMcA1NLtUflWAWCiKAaAiP1pMcA1NLtUflWAWCiKAaAiP1pM
cA1NLtUflWAWCiKAaAiP1pMcA1NLtUflWAUPRLGVOcPRLGVOcPRLGVOcPRLGVOcJKhCWkIDSA0gN
IBkIDSA0gNIC5KSKzGLsJQ00mOMyEVRPK6zwS6InldZ4JdETyus8EuiJ5XWeCXRDaQ2kNpDaQikK
SoMsKU2yhLeRKageFVjhGzh4VWOEbOHhVY4Rs4eFVjhGzhpAaQGkBpANGmC0gNIDSA0gNIDSA0gN
ID2StKnOHslaVOcPZK0qc4eyVpU5wVWRyjYlTX/2HslaVOcPZK0qc4eyVpU5wVWStKnPBNtk/lSA
aAydxPe9ItJRFSGPupL7oppJtsn8qeol2qPyrALBNtk/lSAaAydxPe9ItJRFSGPupL7oppJtsn8q
eol2qPyrALBNtk/lSAaAydxPe9ItJRFSGPupL7oppJtsn8qeol2qPyrAKHIchyHIMTZjkDjhk1hx
wyaw44ZNYMVprZDkOQ5DPM8sRasadOXGxFGsIWPZr1hRDkcZ4BRDkcZ4BRDkcZ4BRDkcZ4BRbkMb
5YotyGN8sUW5DG+WKLchjfLDGWP6gi1py6dei26acnMWNpFZuIOQ5DkFVum9lprg1h440msPHGk1
h440msMZjtriId2Xs8U3CJ05TB8QnTlMHxCdOUwfEJ05TB8QnPlMDxCc+UwPEJz5TA8QnPlMDxBa
ocnMh0201U4EcIeuNJrD1xpNYeuNJrD1xpNYeuNJrD1xpNYeuNJrDzxpNYeONJrDxxpNYeONJrDx
xpNYeuNJrD1xpNYeuNJrD1xpNYKr2I5NYccMmsOOGTWHHDJrCCtVYKY4B6l3sgTW/b1/NdcrpMzd
5Kec608BV7VztgMXdyX3QNSWRup73oopCI6SiKkpjgHqXeyBNb9vX811yukzN3kp5zrTwFXtXO2A
xd3JfdA1JZG6nveiikIjpKIqSmOAepd7IE1v29fzXXK6TM3eSnnOtPAVe1c7YDF3cl90DUlkbqe9
6KKQiOkoigzsusMIukJ2XWGEXSE7LrDCLpCdl1hhF0gljLm9phF0hOy6wwi6QnZdYYRdITsusMIu
kF6s6ty7Q0221soTE1WSmvAmkQyxhLiEQ2ZL20htCIlpEp2UtIiQJxZVqw1emJxZVqw1emJxZVqw
1emJxZVqw1emJ2XWGEXSE7LrDCLpCdl1hhF0hOy6wwi6QYCEkYiopthKHbaI41h01OANoDaA2gMR
QtXvj0V05cutkpWnTprbJRWTEJwZdqw1emJwZdqw1emJwZdqw1emGOwWUVcRKVWwh17auxTxxOy6
wwi6QnZdYYRdITsusMIukJ2XWGEXSFCJofx8ao7wUImh/HxqjvBQiaH8fGqO8FCJofx8ao7wMiZM
0H4//nsfeqbFHKChLPtGNU94KEs+0Y1T3goSz7RjVPeBYwGWpafFTl0216atMTTe1OmugTsusMIu
kJ2XWGEXSE7LrDCLpBDHXWGEXSDwtscIucPC2xwi5w8LbHCLnDwtscIucPKyxlLnDyssZS5w8rLG
UucPKyxlLnCFSyxlRnD0exlRnD0exlRnD0exlRnD0exlRngpjgTQ9zzn0QGRuR73pIpLH3Il90kw
JhfFcx96Ar26LuRNJZO7HveiWBNL3POfR6smOBND3POfRAZG5HvekiksfciX3STAmF8VzH3oCvbo
u5E0lk7se96JYE0vc859HqyY4E0Pc859EBkbke96SKSx9yJfdJMCYXxXMfegK9ui7kTSWTux73ol
gTS9zzn0erJjgTQ9zzn0QGRuR73pIpLH3Il90kwJhfFcx96Ar26LuRNJZO7HveiWBNL3POfR6siK
BNT3HOfbgM3eyy86wtJmZvFRznXLKQs2ibmVFJTHA/UXwf8AY+xARHSURQCVbnbBRFAmp7jnPtwG
bvZZedYWkzM3io5zrllIWbRNzKikpjgfqL4P+x9iAiOkoigEq3O2CiKBNT3HOfbgM3eyy86wtJmZ
vFRznXLKQs2ibmVFJTHA/UXwf9j7EBEdJRFAJVudsFEUCanuOc+3AZu9ll51haTMzeKjnOuWUhZt
E3MqKSmOB+ovg/7H2ICI6SiKASrc7ROTGteGs0hOTGteGs0hOTGteGs0hOTGteGs0hObHteGfSE6
Me14R9ITox7XhH0hOjHteEfSDMYDEO9ulTbTtr01iI3NY/AKGMG0Yxd3goYwbRjF3eChjBtGMXd4
GfM1hIYi1KFNh7xbbSccTgxLVhrNMTgxLVhrNMTgxLVhrNMTgxLVhrNMUMYNoxi7vBQxg2jGLu8F
DGDaMYu7wUMYNoxi7vAoUKlSoqtWVyQrbSGzJjMlKdlKUpjSmqHJa2UOS1soclrZQqVEM6bK201V
Tw8IeFVjhGzh4VWOEbOHhVY4Rs4UsRjrFhSHVtlS22h0dESEpqGQmNAoWwLRjV3eChbAtGNXd4KF
sC0Y1d3goWwLRjV3eCfmVbcBXoCfmVbcBXoCfmVbcBXoCfmVbcBXoBZNFmIOlCF1b3aqsjiCiTNt
2LVaAokzbdi1WgKJM23YtVoBlr1rKe38ztw6c7BStOnLe0QVttyiMPZK0qc4eyVpU5w9krSpzhwW
tKkOS1soclrZQ5LWyhyWtlD2StKnOHslaVOcPZK0qc4eyVpU5w4LWyhyWtlDktbKHJa2UIQhEVJZ
PsX30wJobzXc31pKSXao/KsBR7V72wGNuxL7ompK3dDXMiIB6l3s9aZPsX30wJobzXc31pKSXao/
KsBR7V72wGNuxL7ompK3dDXMiIB6l3s9aZPsX30wJobzXc31pKSXao/KsBR7V72wGNuxL7ompK3d
DXMiIB6l3s9SchyHIchxwyBxwyaw44ZNYccMmsTSWzu8+i7dvlVy05ccCa4n7ksPwCfuSw/AJ+5L
D8AZ7NbYi1D1Ye3yhOKJ75PC8Invk8Lwie+TwvCJ75PC8IoB83iPOFAPm8R5woB83iPOFAPm8R5w
oI52J5xPmig3zOJ80UG+ZxPmig3zOJ80ImY8++dOuTai5xNcTnymB4hOfKYHiE58pgeILizirMyt
1emvQ2jbsyFe29Npp23tUttNcIo/8pj/ACRR/wCUx/kij/ymP8kUf+Ux/kii/wAvjfLFF/l8b5Yo
v8vjfLFF/l8b5YVrJ4Ihc04dt+i26acpSWNpFZuIOQ5DkGK21shxwyaw44ZNYccMmsOOGTWHHDJr
Djhk1hxwyaw44ZNYchyHIchxwyBxwyaw44ZNYccMmsOOGTXBRFAm38Nz32oDO3qtvOsJSUxwFvs3
eyBNb9vX811yuksLeyu/6w0A1NRFSURQJt/Dc99qAzt6rbzrCUlMcBb7N3sgTW/b1/NdcrpLC3sr
v+sNANTURUlEUCbfw3PfagM7eq286wlJTHAW+zd7IE1v29fzXXK6Swt7K7/rDQDU1EUF5WWMpc4e
VljKXOHlZYylzh5WWMpc4QqWWMqM4ej2MqM4ej2MqM4ej2MqM4m+lCmdHz0XT+1VieW9q3XQH9VZ
YJswf1VlgmzB/VWWCbMGauVpYyxCDbPoVDWwvAHRa+UOi18odFr5Q6LXyiiDDt2LW6Aogw7di1ug
KIMO3YtboCiDDt2LW6AKvVLEOyGbKmJLRkRbFVCExoD4SvInMHwleROYPhK8icwN6bTnZajqR/7/
ANB7PWlRnD2etKjOHs9aVGcTQYy5ew1ypUR0cz25K6IhtpaQydkxkIiQlOykUGml/GxyjvRQaaX8
bHKO9FBppfxsco70UGml/GxyjvRQtn2jGqe8FC2faMap7wULZ9oxqnvBQtn2jGqe8DHY65UpIrWE
cnK6bQ6KmMyUo2UJSiJKKoez1pUZw9nrSozh7PWlRnBiG2NiVAcmrZA5NWyByatkDk1bIHJq2QOT
VsgcmrZA5NWyByatkDk1bIHJq2QOTVsgQhIaSGkhpIaTSf1b/j/7X/NAZO4nvekWksTe6u/6ZoCr
2rnbTVm3TcyIgHqXez1r9W/4/wDtf80Bk7ie96RaSxN7q7/pmgKvaudtNWbdNzIiAepd7PWv1b/j
/wC1/wA0Bk7ie96RaSxN7q7/AKZoCr2rnbTVm3TcyIgHqXez1r9W/wCP/tf80Bk7ie96RaSxN7q7
/pmgKvaudtNWbdNzIiAepd7PUv/EAFERAAABBAgNDwoGAwEBAAAAAAIAAQMEBRESExQgMKIVMTJR
UlNigqGjsdHSITM0QUJEVGOBg7LD0+HiBhYiNUBDhLPj8GSktMHCxCNFciRh/9oACAECAQE/AZAU
qenII6s3LkPKhlTUpUUqenII6s3LkPKhlTUpUUqenII6s3LkPKhlTUpUUqenII6s3LkPKhlTUoro
VfIToVfIToVfIToVfIRjnJs5NnJs8UOqcnIa2UnIa2UnIa2UnIa2WK0TRiaMTRiaMTRiaMTRiP6O
qbUOYn0dlgNmJ9HZYDZifR2WA2Yn0dlgNmJoxNGJoxNGJoxNGJoxNGinJs5NnJs5NnJ0KvkJ0Kvk
J0KvkJ0KvkJ2KvgMT4OvgNmJ8HXwGzE+Dr4DZiOkHXwGzRTUpANUb72vYRVJ/vb9hPSlRRTUpANU
b72vYRVJ/vb9hPSlRRTUpANUb72vYRVJ/vb9hPSlRE6J0TonRGFqE6J0TojHbiK4HxKEDbTbrVab
pBOek2asUB42Z4ygPGzPGUB42Z4ygPGzPGVDeOxfjKhvHYvxlQ3jsX4yobx2L8ZJwPKUSNt05a1W
mm2wmFS1a9cnROidENK4a9FttvbapNf/AAoTcTvCUJuJ3hKE3E7wkmXHCMQnttprUdtUxGNYlRTi
MZ9MqKcRjPplRTiMZ9MqKcRjPplDuKn+AodxU/wFDuKn+AodxU/wEFZdBMdw03df/f8Akn+5w9xP
9zh7if7nD3EdYa3E7uKE3E7wlCbid4ShNxO8JHWdSoneEoTcTvCUJuJ3hKE3E7wlCbid4ShNxO8J
Qm4neEoTcTvCUJuJ3hKFXE7wlC+LneEoXxc7wlC+LneEhLfFzvDFNSiBiKWyUd/8sUivbKS3nywR
E+5vv2iLWsDvemGRRa2HlyniCiHpSJ6cQUU1KIGIpbJR3/yxSK9spLefLBET7m+/aItawO96YZFF
rYeXKeIKIelInpxBRTUogYilslHf/LFIr2ykt58sERPub79oi1rA73phkUWth5cp4goh6UienEEV
EFO3YtLoFRBTt2LS6BUQU7di0ugVEFO3YtLoEZkFNrXsWl0Cogp27FpdAqIKduxaXQKiCnbsWl0C
QLKBM6exunLTfojM0221VBNWOToNfKToNfKToNfKSmMMJR6tnXtYifAV8B8xPgK+A+YnwFfAfMT4
CvgPmJ0GvlJ0GvlJ0GvlJ0GvlJdMc6ykOal6Hywk5FWyE5FWyE5FWyEvJ0Ss9PwnDt259EQm3Lhu
oMJpp0amVElK3YtLoFRJSt2LS6BUSUrdi0ugSwvqg0IwhStnO5aM4SWRj7YChKGzmi0ShKGzmi0S
hKGzmi0ShKGzmi0S85GF4Z+XWuwLzkYXhn5da7AvORheGfl1rsC85GF4Z+XWuwJD5QsOdGE5luvv
dasj8SXnAxHC8Qs9iXnAxHC8Qs9iXnAxHC8Qs9iSNl2PWG3lYduGnX+JOFp021VIzVj0ihyrbZiT
QKHKttmJNAocq22Yk0COvKttmJNAoarWyYk0ShqtbJiTRKGq1smJNEoarWyYk0ShavbJo9EoWr2y
aPRKFq9smj0ShavbJo9EjrSCzmj0ShSCzmj0ShSCzmj0ShSCzmj0SOsoT0hzRaMU1KIxPv8Amusi
KmyEd/0BSKzrw73ohieUm8viOoiHpSKtrIL7pCiMRvjmus9hDFNSiMT7/musiKmyEd/0BSKzrw73
ohieUm8viOoiHpSKtrIL7pCiMRvjmus9hDFNSiMT7/musiKmyEd/0BSKzrw73ohieUm8viOoiHpS
KtrIL7pCiMRvjmus9hDFNSiMT7/musiKmyEd/wBAUis68O96IYnlJvL4jqIh6UirayC+6QojEb45
rrPYQyLAb75jrojH7MQ858ocizfrNZ5n9OiiIt1yfvEVNkI7/oCkUlWfkyGiMBvvmOuiCqT/AHty
KSrPyZDRBSLAb75jrojH7MQ858ocizfrNZ5n9OiiIt1yfvEVNkI7/oCkUlWfkyGiMBvvmOuiCqT/
AHtyKSrPyZDRBSLAb75jrojH7MQ858ocizfrNZ5n9OiiIt1yfvEVNkI7/oCkUlWfkyGiMBvvmOui
CqT/AHtyKSrPyZDRBSLAb75jrojH7MQ858ocizfrNZ5n9OiiIt1yfvEVNkI7/oCkUlWfkyGiMBvv
mOuiCqT/AHtyKSrPyZDRBFDVm2TEeiUNWbZMR6JQ1ZtkxHolDVm2TEeiUNWbZMR6JQ1ZtkxHolDV
m2TEeiUNWbZMR6JMayS6ifntM5dPbf8AjRHpO2qYD1zlRhkeEYpB2RUYZHhGKQdkVGGR4RikHZEx
LLMgJkFcIlhsx333SG0pD7SMqILluxaLQKiC5bsWi0CoguW7FotAqILluxaLQKiC5bsWi0CoguW7
FotAqILluxaLQKiC5bsWi0CXRiTLSVIkO6GJw2doxqSMITahmjUjG2iaMTRiaMSQYkbTg7TbbeoY
9Jqu3XJ/S2U0OYn9LZTQ5if0tlNDmJKurKAAkqJI5GFpyJwjO02cwT6ggnNSOc2qYqOsrwrEK3Yl
R1leFYhW7EqOsrwrEK3YlR1leFYhW7EoAqWqek0ygCpap6TTKAKlqnpNMoAqWqek0yTKSsZIL/FW
3aSsa6KBK1rnpNIoErWuek0igSta56TSJAEyq7ePQduXW6bcttVbppp0ekUJTWc0OiUJTWc0OiUJ
TWc0OiQllM5P6c0Nf/koSms5odEoSms5odEoSms5odEoSms5odEoSms5odEoSms5odEoSms5odEo
Sms5odEhJ0pzn9LAHMT8kssAcxPySywBzE/JLLAHMQkySywBzSKj728/nEYf1ir898hLIrOvDvei
GIn3N9+0Ra1gd70wyKbXBcnRNICqT/e3InpxBSKj728/nEYf1ir898hLIrOvDveiGIn3N9+0Ra1g
d70wyKbXBcnRNICqT/e3InpxBSKj728/nEYf1ir898hLIrOvDveiGIn3N9+0Ra1gd70wyKbXBcnR
NICqT/e3InpxBE+3OHuJ9ucPcT7c4e4n25w9xP8Ac4e4n+5w9xP9zh7if7nD3Ew4YTCNVw4ebpt0
+/8ALTTkoHxkzxFA+MmeIoHxkzxExKo5X0B3xtp93PEpLonq6wd5PV1g7yerrB3k9XWDvJ/ucPcT
/c4e4n+5w9xP9zh7iXWRe1lIB5bacar41TRhPYHrlRTiMZ9MqKcRjPplRTiMZ9MlxmXp7/8AM6dO
/fNUnPFHrlR/8Jj/AKJUf/CY/wCiVH/wmP8AokqshRJOBSeXl+df5Hx8cvYBJahwBttw5qjNNt6r
TR6CficT9UqCficT9UqCficT9UqCficT9UqDficT9UqDficT9UqDficT9UqDficT9UmSNBV1Mgq3
D36VS26RAHU+k006apnpNk/3OHuJ/ucPcT/c4e4n+5w9xP8Ac4e4n+5w9xP9zh7iEn1KnD3E+3OH
uJ9ucPcT7c4e4n25w9xPtzh7ifbnD3E+3OHuJ9ucPcR0urU4e4n25w9xPtzh7ifbnD3EJLc4e6Ke
nE8nd+fD9fEYzZyDnPkpJFktmpub+UCIyXuec/hEYD1sqc/+mTSLO+tVrmP0yGQPSkT04gop6cTy
d358P18RjNnIOc+SkkWS2am5v5QIjJe55z+ERgPWypz/AOmTSLO+tVrmP0yGQPSkT04gop6cTyd3
58P18RjNnIOc+SkkWS2am5v5QIjJe55z+ERgPWypz/6ZNIs761WuY/TIZA9KRPTiCJ/RWU0WYn9F
ZTRZif0VlNFmJ/RWU0WYjrCFurmi0ShKGzmi0ShKGzmi0ShKGzmi0S8lv/TDnn03EGdblp1CGqpz
YnpFBU9hOBpFBU9hOBpFBU9hOBpExyumCuIRCA0Yz5ug2oZto5ORVshORVshORVshORVshPQ7HCb
OT0Oxwmzk9DscJs5PQ7HCbOTIKiwJbSiCjbMd73QLUA22IoEs2uej0igSza56PSKBLNrno9ImYRj
V4O/GcO35zqmE25em6k565qZPoLLAfMT6CywHzE+gssB8xMQuqyqyCunTpHCID66E4SCadIEgDag
AiEdsQjG1DYC85GF4Z+XWuwLzkYXhn5da7AvORheGfl1rsC85GF4Z+XWuwKjLG8JxKfsioyxvCcS
n7IqMsbwnEp+yKjLG8JxKfsiZZIBZZBYTITu0Y3pyJo4W3KFGE+oIwRGaEE5tU2AnIq2QnIq2QnI
q2Qheg061G6X2YnwFfAfMT4CvgPmJ8BXwHzEdIBqngPmJ8BXwHzE+Ar4D5ifAV8B8xPgK+A+YnwF
fAfMT4CvgPmJ8BXwHzE+Ar4D5iOMNfKToNfKToNfKToNfKRxGiiqj/e1E8gv9r8D/ciKmyEd/wBA
Uita+O96AYnlXvD4r+vKnpxFncX38Yh6XsQqo/3tRPIL/a/A/wByIqbIR3/QFIrWvjvegGJ5V7w+
K/ryp6cRZ3F9/GIel7EKqP8Ae1E8gv8Aa/A/3IipshHf9AUita+O96AYnlXvD4r+vKnpxFncX38Y
h6XsQqo/3tRPIL/a/A/3IipshHf9AUita+O96AYnlXvD4r+vKnpxFncX38Yh6Ut//8QAVhAAAAID
Bg4LDQUHBQEAAAAAAAECAyAEETAxgaEFEhMyMzSCg6KjpLGy0SE1QIS0wcLS0+LjFCIjQVFhpbPD
xNTh5CRCUmLwNkNxc7XV5RVTVGNkRP/aAAgBAQAGPwJgpc7ByMFuEpcxwKdzokwUvEwcCcmYmEZe
Jkpc7ByMFuEpcxwKdzokwUvEwcCcmYmEZeJkpc7ByMFuEpcxwKdzokwUvEwcCcmYmEZeJkpc7ByM
FuEpcxwKdzokwUvEwcCcmYmEZeIRCIRCIFseXOIhEIgex5PL5xFOYinMRTmC2PL4z8h+cVs6WsVs
6WsVs6WsVs6WsRTmIpzEU5iKcxFOYinMRTmIpzB7Hk8Z+fzitnS1itnS1itnS1hwuR1qaq51vdNU
V1RahTUjjdCxHvlaaCZPJoInsJE+88ew+Q2sy2iHxY2sy2iHxY2sy2iHxY2sy2iHxYtPKHV0wtPK
HV0wtPKHV0wtPKHV0wdalSrpFSFQpUaZNJ6mcylI9lJJJKuSM9kxFOesRTnrEU56xWznrFbOlrFb
OlrFbOlrB97OlrFbOlrFbOlrFbOlrFbOlrFbOlrFbOlrFbOlrFbOlrCXe+Txn5C84rZz1itnPWK2
c9YLvfL40tbJS52EpONgpcxwqUnGxQzfn9PdUC7d7cEUQBwKUmYmClZKXOwlJxsFLmOFSk42KGb8
/p7qgXbvbgiiAOBSkzEwUrJS52EpONgpcxwqUnGxQzfn9PdUC7d7cEUQBwKUmYmClFdN8xXTfMV0
3zFdN8wXfTef+IrpvmK6b5ium+YT7956l+6/HTfmLyCy4HXFlwOuLLgdcOZxd1VGrVbwlQqlLU1C
1bWVZB9+kpa4nn39l54bc+jvrhtz6O+uG3Po764bc+jvrhtnkX1Y2zyL6sbZ5F9WNs8i+rC1y90V
WpUnf1Kkfp1aKytqiTz1M9XHE+LJg9YWTB6wsmD1gn4V56l+5/H84s2L64s2L64s2L64oadV/wCZ
+7/8Dq/OLJg9YWTB6wsmD1hZMHrC2sT2otrE9qLaxPai2sT2od6FWfe7l2am9G4nOf4z8osuB1xZ
cDriy4HXFlwOuLLgdcWXA64suB1w9VsX1xZ8V2gs+K7QWfFdoLPiu0FsYrtBbGK7QWxiu0FsYrtA
Z91YnzfzRbWI7YW1iO2FtYjtgX2rEdsyX68bC245bFD99cCdMC6rxwdSwsueUxQ7ffAXTA0R3pwF
zblJkv142Ftxy2KH764E6YF1Xjg6lhZc8pih2++AumBojvTgLm3KTJfrxsLbjlsUP31wJ0wLqvHB
1LCy55TFDt98BdMDRHenAXNuUhYcYq54sOMVc8WHGKueLDjFXPBeBxirnixYxVzxYsYq54sWMVc8
OioOanpKlTeGc6L1NVHq9aj+E4haWUuTpxaWUuTpxaWUuTpw4ly5yUipDummSq7mSepnIvRLYRXJ
JVyRFsEKzCR1iswkdYrMJHWKzCR1iumPUK6Y9Qrpj1CumPUHQtVK6ZBKpPHTIE+8oVonsJJEcZH4
hYsYq54sWMVc8WLGKueFngfwfvFX5vziw4xVzxYcYq54sOMVc8OJ0ulCpqVfdNOnTIpvU7kXq0e9
Vmkkb6SSJbCJxvnsCz4pd0Ys+KXdGLPil3Riz4pd0YiEQiEQdroc7lqilZ3NSJ1dzov0rkUIJd6m
uRSJ5JEy2SmFpZS5OnFpZS5OnFpZS5OnCvupz1Kq01J4VSm/SUtNY1iTz1MjG9HsCtnR1itnR1it
nR1h80Zy1iIRCIRMvGezKI5j1COY9QjmPUC76Y9UDRDenvLCm+eqTgUpNEmFtxy2ELrROBWXGgix
Q/fXuzByZ4FKTMTCMvFA0Q3p7ywpvnqk4FKTRJhbccthC60TgVlxoIsUP317swcmeBSkzEwjLxQN
EN6e8sKb56pOBSk0SYW3HLYQutE4FZcaCLFD99e7MHJngUpMxMIy8UDRDenvLCm+eqTgUpNEmFtx
y2ELrROBWXGgixQ/fXuzByZ4FKTMTCMvEyjLpGwuvfLYdV44SpgXJf8AhK5hO55TCMuY4VTfOQwU
uY4EoFGXSNhde+Ww6rxwlTAuS/8ACVzCdzymEZcxwqm+chgpcxwJQKMukbC698th1XjhKmBcl/4S
uYTueUwjLmOFU3zkMFLmOBKBRl0jYXXvlsOq8cJUwLkv/CVzCdzymEZcxwqm+chgpcxwJM2nlDq6
cWnlDq6cWnlDq6cWnlDq6cEROTHuny/zhauPdPTC1ce6emFq4909MEagppKd+m8ItSfpXnq9NJ56
mOIVs6WsVs6WsVs6WsOgjQ2PBfeS/wB9V5xYsNZzhYsNZzhYsNZzhYsNZzhtF6Toz/cBtF6Toz/c
BtF6Toz/AHAbRek6M/3AKlSqhFKgjT0qPd9FDefWJpHspO0zjM/GNqsuol8YNqsuol8YNqsuol8Y
PB0MpaaP7bRA4oo3WflG12Vu74kbXZW7viRtdlbu+JBpoUPeSJ54+6nacZkXjdJlEYtPKHV04tPK
HV04tPKHV04tPKHV04inPWIpz1iKc9YinPWD2M/kEQiEQ8Mrp6St79NF6mjrUi8hRi18au6QWvjV
3SC18au6QF4DGrvJ/MFgxi7pBYMYu6QWDGLukFgxi7pBYsYt54sWMW88WLGLeeLFjFvPFiw1nPFi
w1nPFiw1nPFiw1nPFiw1nOZJhVd8hh0Xr16uBQutNJhGXiYTudIoE5MzCdzxsFCkyTCq75DDovXr
1cChdaaTCMvEwnc6RQJyZmE7njYKFJkmFV3yGHRevXq4FC600mEZeJhO50igTkzMJ3PGwUKTJMJf
aahUKX9zVaaqv/8Aareeqfnff8Tw2xyT6kbY5J9SNsck+pCTm/1Wp1Sl7/uGnepEiWVvdaL79K9X
FG+P2g9Ff5IftB6K/wAkP2g9Ff5IftB6K/yQtHKfpxaOU/Ti0cp+nFo5T9OCQ/0195/Z7sejN/8A
4p+UbWZb9INrMt+kG1mW/SBL7DU6m9/9VM/TP/8AnReepRauO7IWrjuyFq47sgi5qjU6o/39Up3q
QjWVtIi+/SvVxRviyYHWFkwOsLJgdYWTA6wsuB1xZcDriy4HXFlwOuEip/J93zF+YV+D8xX4PzFf
g/MJd8++94v4+cRiMRiMRiMRiOBJkmHXePbMIy6Jwq+9+0YUX31KyBSk0SYOTcJMkw67x7ZhGXRO
FX3v2jCi++pWQKUmiTBybhJkmHXePbMIy6Jwq+9+0YUX31KyBSk0SYOTcJCMRiMRgmHXS7L3c/th
FOWsRTlrEU5awgRI/i8ZfhPziswkdYrMJHWKzCR1iswkdYrMJHWKzCR1iswkdYrMJHWElaxKlTRe
fJ5I40SSLZRIyiMvGLJgp80WTBT5osmCnzQv7/8A2/up/wDZ+UV+CnzRX4KfNFfgp80KU01tKijV
HzpFhxqkyLYJAzjMWziXR0QtnEujohbOJdHRC2cS6OiEcx6hHMeoRzHqEcx6gkZRbGiTGyI84jzi
POI8+4ilzsO7e3vDCu60EoFfevUq2F969owUuY9wl+vFuIpc7Du3t7wwrutBKBX3r1KthfevaMFL
mPcJfrxbiKXOw7t7e8MK7rQSgV969SrYX3r2jBS5j3CX68W4ilzsO7e3vDCu60EoFfevUq2F969o
wUuY9wl+vFDf/8QAKhAAAQEFBwQDAQEAAAAAAAAAAREAIDGx8CEwQWGBwdFAUXGhUJHhEPH/2gAI
AQEAAT8hcpszlTVyckbmBWLmPTfpaE8lJjoqIpszlTVyckbmBWLmPTfpaE8lJjoqIpszlTVyckbm
BWLmPTfpaE8lJjoqIpszlTVyckbmBWLmPTfpaE8lJi+oisTy1YnlqxPLVieW3eHuzasTy1YnlqxP
LEW/s3GrcjVuRq3IxwTZdA0000rcjVuRq3I1bkZGoL5atyNW5GrcjW1WjhNNNP8AffZ2+kwDJcVV
VVIooo6vYPB4W0BFQIAAP7RRQmL3elxppppx9wuWmmmhppporgciiiLt/wCE6ps3Qw1ArHpY17w6
7OSkxezVNHabN0MNQKx6WNe8OuzkpMXs1TR2mzdDDUCseljXvDrs5KTF7NU0dIiL757HERHP/fQI
47uq3q089AXG7uoiJSASX8mYCoP7VVvAY+Ls4qrHGkFiIu7vc1VUZmftjlgXiRc7uVRzMzI4C4/a
5xERMzMASpZbgAins4iIpqyOpib4rhqqXTCNyYub2zsxN8Vw1VLphG5MXN7Z2Ym+K4aql0wjcmLm
9s6CCCCB5H2FzRRRSH4aK90iWooX+999624MH4W0BFUoASLhNNNOKKKLQEf1QaDWgqKLELlFFFkV
I4N99/YncKw5sgAJDnXXXVYjlqxHLViOWrEctJUAP5JSqKFIE/3vvumBq35KxEKf0000wIAj9eDK
xHLViOWrEctWI5ZCyFkLIWI0AIoQogHAdnKKKLcd3pdQdZn4oIDeDTKmydFNEHWZ+KCA3g0ypsnR
TRB1mfiggN4NMqbJ0U0QdZn4oIDeDTKmyfKTRorH7TRdJDoXanJn4torH7TRdJDoXanJn4torH7T
RdJDoXanJn4torH7TRdJDoXanJm5QQQQJkAF+8cXFFFFH/7rISraqBP6aaauOK2EYGFoExFyCCCD
bbbbrafKwdTrSRUFiBy665FxTGrHZEVBI2uLrr9l9xlWwwpBaPdzBBBBRRRQIIdmPYzasTy1Ynlq
xPLKmGZkd/XvESxFLkccYZBbt+1chBBBKKKKAAAHG222ARO70O5yZ+C5Wgk6bJcDOSNyIOb2zs5M
/BcrQSdNkuBnJG5EHN7Z2cmfguVoJOmyXAzkjciDm9s3n6/W8/X63n6/W8/X62Od8Mzm3n6/W8/X
63n6/WpWLRrzP6ZnT7Sz8GYiIbiqqgAA9psFIbBLEXERKmXfuFXBLf6ZnRvyj8GYiIbjd3aqqjxS
KzEzgRHYhw8ndqk/WqT9apP1rH5YZHNqk/WqT9apP1qk/W8/X63n6/W8/X63n6/W8nBObOzkz0NG
xKw6UiPamrkHWRvd7Z2cmeho2JWHSkR7U1cg6yN7vbOzkz0NGxKw6UiPamrkHWRvd7ZqwPDVgeGr
A8NWB4Yq074HuWzJtmTbMm1m2ItAjZinYuUUUKoCbAzfG5Jppppppp9vsvYwCplhIqG1Q5NNMbYc
4ccc7MZCRMhQCwGKmy5YYYYaaaaIW4KyYQBihiGQshZCyipFRImC9vLUBwagODUBwYgfLDsOTZvo
8Nm+jw2b6PDZvo8NmTbMm2ZNsybZk2zJtmTbMmwrNdnabN8EU3WURdJBzDrs5MTXuHXZ2mzfBFN1
lEXSQcw67OTE17h12dps3wRTdZRF0kHMOuzkxNe4ddnabN8EU3WURdJBzDrs5MTXuHXZv//aAAwD
AQACAAMAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAQAQAAABAAAFAAAAg
A4AAAAAGACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAoAAAAAAADAAAEAAAAgAAAoAAADAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAYAwA
AAEABACAAAAIAgAAAAADAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAwAQAAACAGABAAAA4A4AIAAAGAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAYAAAgAAAHAAAEAAAAAAAAwAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAwAQAAADAAAFAAAAYAYAgAAADAG
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/8QAKxEAAQEFBwUBAQEBAQAAAAAAAREA
ITGBsSAwQWGh0fBAUXHB4VAQkfFw/9oACAEDAQE/ELEKdTYwT9WIU6Hqo0qCxgn6vayqxil7swp1
NjBP1YhToeqjSoLGCfq9rKrGKXuzCnU2ME/ViFOh6qNKgsYJ+r2sqsYpe7MKdTYwT9WIU6Hqo0qC
xgn6vayqxil7spJJJHyABECkxAOJJiWytTu2Vqd2ytTuzk7vics2ytTu2Vqd2ytTux38FAhScBBU
Eh4MVD7KSSSWdoNmztBs2doNmztBsxEgE8fcAwioUhUEeQMQC42e+++8rU7tlandsrU7tlandhAE
IOoLBAMQ2Vqd2ytTu2Vqd2ytTu2Vqd2ytTu2Vqd2ytTvZIIIInD/AKLAggh48dSypKLGCfq9ShTq
ehTpKOhrKrGKXuzSUWME/V6lCnU9CnSUdDWVWMUvdmkosYJ+r1KFOp6FOko6GsqsYpe28tPreWn1
vLT63lp9ZQzk0DOxmZ3wq4dkzby0+t5afW8tPrTyG/2whHolRHKouJmZVVXlfgNK9oio9FPlp9by
0+t5afW8dO5VXJ2sf/wELE9A3b2uSIi3d3y7DqqaC+6RuKqqqqCiBiub/wD+qqkBGfUbDMx6iXL7
ZjSoPysLPrxOFOhuYU6m5jSoPysLPrxOFOhuYU6m5jSoPysLPrxOFOhuYU6m5SSSSWvD/EWCSSX+
teUXAIiKKrsbHf3+CLkCELyFRA9BciCCCJJJJDXxUCER5EFSBcTFC9s7Q7NnaHZs7Q7NyX0Ple8R
HooX+3XXJFngrIow4EYkYXKSSSSqqqoAC9YPbbb/ANyj/ECYiKrlQp/UkkgyCf8AhuXffffvvvoQ
AP8A13JJJJKNKg/clNMCEnjSoP3JTTAhJ40qD9yU0wISeNKg/clNMCEnhTqfwiZkIjSoLiIU6G5h
TqbnIU6n8ImZCI0qC4iFOhuYU6m5yFOp/CJmQiNKguIhTobmFOpuchTqfwiZkIjSoLiIU6G5hTqb
nGWWWQFwsHvvv/ivNFgKqIrB1iSSRMyQ6V4gxMQNzddddJJJJ2FI9jZikPJFQIAA3Idzch3NyHc2
VouUV6AdhGx3333AFmRHiEAXEKiFyi5ggggEEEEQ0AOBSJDEzE2Cyy+QfvrMSI5FK/0gggDKjk8t
yHc3Idzch3NyHdZIIIIAHDVubkO5uQ7m5DuZUQixeTDyT36YIayr9zUhsCGsq/c1IbAhrKvx9SGz
y0+t5afW8tPreWn1goA4uMbGZnFGOaviiYq7+1VQyLG9A3b2uSIiIiIIR0xdi+C+/exEQ8dpl6xf
BExV393dfNkfnr6CBUXBERf/AP8AEoAaV7RFR6KfLT63lp9by0+t2wi4d0zuczMzMzy0+t5afW8t
PreWn1goA4uMbnMzIU6noXGjSoOlotnBP1ewp1NzCnU9C40aVB0tFs4J+r2FOpuYU6noXGjSoOlo
tnBP1ewp1Nz7776EAD/12CSST8MjK8sQmIiq5UKf3vvtXSTgSgUvIiAOLcg2NyDY3INjcg2WYYYY
QF5sSKJuGIQPAVFDkNgggiemQ4mBVVBYPsEEES4PBUGjsFRApIBuMsssoIIIO0wDcfMUhxIqFCCL
BBBAr3doZtyHc3Idzch3NyHc3Idzch3NyHc3Idzch3NyHc3Idzch3MEACNR38tlajdsrUbtlajds
rUb/APuNJZ0RlJZ0RlJZ0RlJZ0Rn/8QAKhEAAQEECgIDAQEAAAAAAAAAAREAMYGxICEwQWFxocHR
8EBQUZHhEPH/2gAIAQIBAT8QsLkdrV9CQ8Ui9De1dRmbW5Ha1fQkPFIvQ3tXUZm1uR2tX0JDxSL0
N7V1GZtbkdrV9CQ8Ui9De1dRmaPYODdg4N2Dg3YODFAEnQfOTY2g4bG0HDY2g4Ykl5oAAghQVkTc
3YeTdh5N2Hk3YeVEgSpGpbC1PLYWp5bC1PLYWp5bC1PLYWp5bC1PLEQLsIXopQ1FQ4m6ikkklhan
lsLU8thanlsLU8thanlsLU8thanlsLU8sAA4UCIBI7W2NoOGxtBw2NoOGxtBw3YODdg4N2Dg3YOD
AdQ7MqBBBA6J89GidRmbCcm8GUk8F9CYtbkdqLqMzYTk3gykngvoTFrcjtRdRmbCcm8GUk8F9CYt
bkdmya/jZNfxsmv42TX8aqVfN+JwbJr+Nk1/Gya/jVipEoaP8MXC1HhFXCxqqp3d/wDS3qiUqvKi
1Kgya/jZNfxsmv43HhRCquDqAAGt5i8loiq4uSxIiKqqvmkVVkQg9HwrqH/9QeWggAVzJqFiAAAA
ACkkXaERE4zS0TqMzQvQ39EyNvg1yO1B9CYsX0JChcjtRdRmaF6G/omRt8GuR2oPoTFi+hIULkdq
LqMzQvQ39EyNvg1yO1B9CYsX0JChcjtRhhhhTM32Ghhhh6v+sSt0qJWihewcG7BwbsHBhCn6JGiQ
QQR2Dg3YODdg4N2DgwXFKoVAcE1EgvBubsPJuw8m7Dybvv0KwEq1KhT+lll3MFDVDqwAIATWdbFJ
JJI4445RiDVKDgXiXigeef2oEHlfmIlaKF/ogghAIH+qxMsss7777lkkf5qDzzxCrEfUvzD4ouoz
Pkrmlb6Ex5yX3ob0XUZnyVzSt9CY85L70N6LqMz5K5pW+hMecl96G9F1GZ8lc0rfQmPOS+9Df15Q
u1mQUpJakXI7evKF2syClJLUi5Hb15Qu1mQUpJakXI7evKF2syClJLUi5HaxZZZZZZZZ++p/LZLh
FWtUFD775+gUJqg1YS8A1Gxhhhhhhhh+aAGXUQoJUCopUkk4Wp5bC1PLYWp5b7KYHDiEU5FWu6h3
33Eo8Fg614IqhCARYccccXXXXBgIA1lfQsss1UY6c/sglWtUCf1JJKFH0rEkkkkkkkkQislPqAuo
fffann0vX66S3z2UksX0JChcjt6+ukt89lJLF9CQoXI7evrpLfPZSSxfQkKFyO1GqqigkXaH/wDy
0NQ+wVbkr/u7uR4VVUb1fKusaqq//wD1mYXHVJUeVRcKBEXGgfaLkRL1tSIv3uX2wd3eIiKy+78Z
hXCoKf8A/wD/APqGMOsWOqqqqqr2TSKCqpzmlon0JD1USHuJw+hMWL6EhQuR2ovoSHqokPcTh9CY
sX0JChcjtRfQkPVRIe4nD6ExYvoSFC5Haj3332OQNar6RQJJJAan0h1L8pErRQv9888fsEKqKFUU
vIFQbsPJuw8m7DybsPKikkkk4cIU1QioBeCKxpQZZZ7FADQnxFWpUKf1JJKZRvKtAlFUoBIsDjjj
sssspcdNH4CVRQpAnsPJuw8m7DyYxWHnyVEW8iKH0CCCFjL9gsRBBBBBBBBBJGj4ZN2Dg3YODdg4
MaiH5uOGFGUk9F+fnvoSFgD6Ex4UpJ6L8/PfQkLAH0JjwpST0X5+e+hIWAPoTHhSknovz899CQsA
fQmLb//EACwQAAEBBAkEAwEBAQAAAAAAAAERITFBsQAgMFBhgaHR8BBAUcFxkeHxcID/2gAIAQEA
AT8Q7VPRpya/MSPAZIk9GnJr8xI8BkiT0acmvzEjwGSJPRpya78SPAZIkkkkjDkkkntUZZPwDU77
7U4E0EXGDQBeBGxZZZZ7777z5+1U9994PwyRWnB4D+xZZZUChX9vgpyyyyDDDDQ9l+Zk3QSSSeGR
hm9pweBassskyssssiCCCAAJA1tGp333eRRhg/CPbJl5OTX4WqODZ6mXk5Nfhao4NnqZeTk11lqj
g2e7u6iGCpsiLgwD9AqwRvYERQBKUtizM0REKC/nid//ALhD9YnyVYI3rVVqJwiTJGnFUTGx/wD/
AHd35uIDgnkqisVB1Ii8YRfulT/+owSIiEOIVUR9ju7tVVaXuMTCtOCKjX1AAPGU17rvS/S+tSDP
1UdZyNi+ykLvr0v0vrUgz9VHWcjYvspC769L9L61IM/VR1nI2L7KQsaOOOOBBQRrKHYqaaQ4PRiw
RRRg1H2Zk3QLLLL3333/AKNk2/wGAZOtNNOMsM0Vh4eC7te++xzurbkCPvfffUkkki+I3BD/AMZF
FFcXy8ThBBARYEpVFKGFJUkBg0qpJJJYWo3phajemFqN6YWo3p4d4EQGlBUgWEvQtqJJJODKy3VG
3F5H/FhGwjFD1SeZEbCMUPVJ5kRsIxQ9UnmRGwjFD1SeZM3hMuZC+DQZ+r8ZvCZcyF8Ggz9X4zeE
y5kL4NBn6vxm8JlzIXwaDP1VOOOOcqVCiKU0peSWnSw//wDzfqeWyEEE8+7xOExAFhCohYosV111
zzzz/wCIdSp4xgCDqiijwIByfIkRAnWuuue4vyMAlFUIAIsDjjjkkkkkNADIWeWJF5qJJJcCaou/
rHVZZZPiDJWeEsJhxMLFRRRSmmmlFiAqBR5JLyLzU444dUVpu7Efm+BiYk09NxnWczflDExJp6bj
Os5m/KGJiTT03GdZzPdVmZiaZmWBXoqqnscficqqpERcgau2IVRWKg7CIjOWHh3dtn78Tnd3AADW
2RBlIio8uWo7vtsH2y/BEitT/wDSPY21VVmZgSAIMP2ny0/afLT9p8tP2nmfXd2w2jSkl+FndpFD
aNKSX4Wd2kUNo0pJdZZ3aRSSSSRICgWfgoinINlOQbKcg2U+rgnHVLAVEaiiokklCAIaoU0ICAEt
OtiWWWWWWWX/AAv1iUwsAAdVVVXlUbYvxD4qQQQehsm8AlJwAkWAooovnnnh14UFSkwAIQNAcoY2
mFqN6YWo3phajemW6FHjhREPR7KnvvojCidVRqiCCCOQbKcg2U5BspyDZTkGynINlOQbKcg2UJZP
0Pp/uKYK++kRnuJgr76RGe4mCvvpEZ7iYK++kRnuf//Z"/>
    <p>あなたは得意なことが<%-tokui%>フレンズなんだね!!</p> 
    <p>大丈夫だよ！！ わたしだって、みんなからよく、ドジー！とか、ぜんぜん弱いー！とか、言われるもん！！</p>
    <p>それに、あなたはすっごいがんばり屋だから、きっとすぐ、何が得意かわかるよ！！</p>
    
    <p><a href="/">戻る</a></p> 
  </body> 
</html>
